openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Item Groups API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage item groups
  name: Item groups
  x-displayName: Item groups
paths:
  /biblios/{biblio_id}/item_groups:
    get:
      tags:
      - Item groups
      summary: List item_groups
      operationId: listItemGroups
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Internal identifier for the parent bibliographic record
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - items
            type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of item_groups
          content:
            application/yaml:
              schema:
                items:
                  $ref: '#/components/schemas/item_group_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: Internal server error
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Item groups
      summary: Add item group
      operationId: addItemGroup
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Internal identifier for the parent bibliographic record
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                description:
                  description: ItemGroup description
                  type: string
                display_order:
                  description: Position in waiting queue
                  type: integer
              type: object
        description: A JSON object representing an item group
      responses:
        '201':
          description: A successfully created item group
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/item_group_yaml'
        '400':
          description: Bad request
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Resource not found
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in creating resource
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal server error
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}/item_groups/{item_group_id}:
    delete:
      tags:
      - Item groups
      summary: Delete item group
      operationId: deleteItemGroup
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Internal identifier for the parent bibliographic record
        schema:
          type: string
      - name: item_group_id
        in: path
        required: true
        description: Internal identifier for the item group
        schema:
          type: string
      responses:
        '204':
          description: ItemGroup deleted
          content:
            application/yaml:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ItemGroup not found
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal error
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - Item groups
      summary: Get item group
      operationId: getItemGroup
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Internal identifier for the parent bibliographic record
        schema:
          type: string
      - name: item_group_id
        in: path
        required: true
        description: Internal identifier for the item_group
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - items
            type: string
      responses:
        '200':
          description: An item group
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/item_group_yaml'
        '400':
          description: Bad request
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '404':
          description: ItemGroup not found
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal server error
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - Item groups
      summary: Update item group
      operationId: updateItemGroup
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Internal identifier for the parent bibliographic record
        schema:
          type: string
      - name: item_group_id
        in: path
        required: true
        description: Internal identifier for the item group
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - items
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                description:
                  description: ItemGroup description
                  type: string
                display_order:
                  description: Position in waiting queue
                  type: integer
              type: object
        description: A JSON object with the new values for the item group
      responses:
        '200':
          description: The updated item group
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/item_group_yaml'
        '400':
          description: Bad request
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ItemGroup not found
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal error
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}/item_groups/{item_group_id}/items:
    post:
      tags:
      - Item groups
      summary: Add item to item group
      operationId: addItemGroupItem
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Internal identifier for the parent bibliographic record
        schema:
          type: string
      - name: item_group_id
        in: path
        required: true
        description: Internal identifier for the item group
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - items
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                item_id:
                  description: Internal identifier for an item to be linked
                  type: integer
              type: object
        description: A JSON object containing an item_id
      responses:
        '201':
          description: Item linked to item group
        '400':
          description: Bad request
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '409':
          description: Request conflicts
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal error
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}/item_groups/{item_group_id}/items/{item_id}:
    delete:
      tags:
      - Item groups
      summary: Delete item from item group
      operationId: deleteItemGroupItems
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Internal identifier for the parent bibliographic record
        schema:
          type: string
      - name: item_group_id
        in: path
        required: true
        description: Internal identifier for the item group
        schema:
          type: string
      - name: item_id
        in: path
        required: true
        description: Internal identifier for the item
        schema:
          type: string
      responses:
        '204':
          description: Item unlinked from item group
          content:
            application/yaml:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Item not linked to item group
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal error
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/yaml:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    item_group_yaml:
      additionalProperties: false
      properties:
        biblio_id:
          description: Internal identifier for the parent bibliographic record
          readOnly: true
          type: integer
        creation_date:
          description: Date and time the item group was created
          format: date-time
          readOnly: true
          type: string
        description:
          description: Item group description
          type: string
        display_order:
          description: Item group description
          type: integer
        item_group_id:
          description: Internal identifier for the item group
          readOnly: true
          type: integer
        items:
          description: A list of items that belong to the volume (x-koha-embed)
          readOnly: true
          type:
          - array
          - 'null'
        modification_date:
          description: Date and time the item group was last modified
          format: date-time
          readOnly: true
          type: string
      required:
      - item_group_id
      - biblio_id
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
