openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Eholdings Resources API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ERM eHoldings resources
  name: erm_eholdings_resources
  x-displayName: ERM eHoldings resources
paths:
  /erm/eholdings/{provider}/resources:
    get:
      tags:
      - erm_eholdings_resources
      summary: List eholdings resources
      operationId: listErmEHoldingsResources
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: resource_id
        in: query
        required: false
        description: Case insensitive search on resource_id
        schema:
          type: string
      - name: package_id
        in: query
        required: false
        description: Case insensitive search on package_id
        schema:
          type: string
      - name: vendor_id
        in: query
        required: false
        description: Case insensitive search on title vendor_id
        schema:
          type: integer
      - name: started_on
        in: query
        required: false
        description: Case insensitive search on started_on
        schema:
          type: string
      - name: ended_on
        in: query
        required: false
        description: Case insensitive search on ended_on
        schema:
          type: string
      - name: proxy
        in: query
        required: false
        description: Case insensitive search on proxy
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of eHoldings resources
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_eholdings_resource_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/eholdings/{provider}/resources/{resource_id}:
    get:
      tags:
      - erm_eholdings_resources
      summary: Get resources
      operationId: getErmEHoldingsResources
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: resource_id
        in: path
        required: true
        description: Resource internal identifier
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - title
            - package
            - vendor
            type: string
      responses:
        '200':
          description: An eHolding resource
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_eholdings_resource_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    patch:
      tags:
      - erm_eholdings_resources
      summary: Edit a resource
      operationId: editErmEHoldingsResources
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: resource_id
        in: path
        required: true
        description: Resource internal identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                is_selected:
                  description: Add or remove this resource from remote holdings
                  type: boolean
              type: object
        description: A JSON object containing the fields to edit
      responses:
        '200':
          description: What has been modified
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  is_selected:
                    description: Add or remove this resource from remote holdings
                    type: boolean
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    erm_eholdings_resource_yaml:
      additionalProperties: false
      properties:
        ended_on:
          description: End date
          type:
          - string
          - 'null'
        is_selected:
          type:
          - boolean
          - 'null'
        package:
          description: Information about the package
          type:
          - object
          - 'null'
        package_id:
          description: foreign key to the package
          type:
          - string
          - 'null'
        proxy:
          description: Proxy to access this resource
          type:
          - string
          - 'null'
        resource_id:
          description: internally assigned identifier
          readOnly: true
          type: string
        started_on:
          description: Start date
          type:
          - string
          - 'null'
        title:
          description: Information about the title
          type:
          - object
          - 'null'
        title_id:
          description: foreign key to the title
          type:
          - integer
          - 'null'
        vendor:
          description: Information about the vendor
          type:
          - object
          - 'null'
        vendor_id:
          description: foreign key to aqbooksellers
          type:
          - integer
          - 'null'
      required:
      - package_id
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
