openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Ill Backends API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ILL module backends
  name: ill_backends
  x-displayName: ILL backends
paths:
  /ill/backends:
    get:
      tags:
      - ill_backends
      summary: List ILL backends
      operationId: listIllbackends
      responses:
        '200':
          description: A list of ILL backends
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ill_backends_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ILL backends not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /ill/backends/{ill_backend_id}:
    get:
      tags:
      - ill_backends
      summary: Get ILL backend
      operationId: getIllbackends
      parameters:
      - name: ill_backend_id
        in: path
        required: true
        description: ILL backend id/name
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - statuses+strings
            type: string
      responses:
        '200':
          description: An ILL backends
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ill_backend_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ILL backends not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    ill_backends_yaml:
      additionalProperties: false
      items:
        $ref: '#/components/schemas/ill_backend_yaml'
      type: array
    ill_status_yaml:
      additionalProperties: false
      properties:
        backend:
          description: The backend in which this status is used
          type: string
        category:
          description: The AV category in which the status aliases exists in
          type: string
        code:
          description: Internal ILL status code or av code
          type: string
        str:
          description: Internal ILL status display string
          type: string
        type:
          description: This is 'ill_status' or 'av' depending on if coming from backend or authorised values i.e. alias
          type: string
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    ill_backend_yaml:
      additionalProperties: false
      properties:
        capabilities:
          description: List of capabilities
          type: object
        ill_backend_id:
          description: Internal ILL backend identifier
          type: string
        statuses:
          description: existing statuses
          items:
            $ref: '#/components/schemas/ill_status_yaml'
          type: array
      type: object
