openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Counter Logs API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ERM counter logs
  name: erm_counter_logs
  x-displayName: ERM counter logs
paths:
  /erm/counter_logs:
    get:
      tags:
      - erm_counter_logs
      summary: List counter_logs
      operationId: listErmCounterLogs
      parameters:
      - name: usage_data_provider_id
        in: query
        required: false
        description: Case insensitive search on counter_log usage_data_provider_id
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of counter_logs
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_counter_log_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    erm_counter_log_yaml:
      additionalProperties: false
      properties:
        borrowernumber:
          description: borrowernumber of the counter_log
          type:
          - integer
          - 'null'
        counter_files_id:
          description: counter_files_id of the counter_log
          type:
          - integer
          - 'null'
        erm_counter_log_id:
          description: internally assigned counter_log identifier
          readOnly: true
          type: integer
        filename:
          description: filename of the counter_file
          type:
          - string
          - 'null'
        importdate:
          description: Timestamp for the date of upload
          format: date-time
          type: string
        logdetails:
          description: logdetails of the counter_log
          type:
          - string
          - 'null'
        usage_data_provider_id:
          description: logdetails of the counter_log
          type:
          - integer
          - 'null'
      required:
      - filename
      - borrowernumber
      - counter_files_id
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
