openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Licences API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ERM licences
  name: erm_licences
  x-displayName: ERM licences
paths:
  /erm/licenses:
    get:
      tags:
      - erm_licences
      summary: List licenses for agreements
      operationId: listErmLicenses
      parameters:
      - name: license_id
        in: query
        required: false
        description: Case insensitive search on license license_id
        schema:
          type: integer
      - name: vendor_id
        in: query
        required: false
        description: Case insensitive search on agreement vendor_id
        schema:
          type: integer
      - name: name
        in: query
        required: false
        description: Case insensitive search on license name
        schema:
          type: string
      - name: type
        in: query
        required: false
        description: Case insensitive search on license type
        schema:
          type: string
      - name: status
        in: query
        required: false
        description: Case insensitive search on license status
        schema:
          type: string
      - name: started_on
        in: query
        required: false
        description: Case insensitive search on license start date
        schema:
          type: string
      - name: ended_on
        in: query
        required: false
        description: Case insensitive search on license end date
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - vendor
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of agreements' licenses
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_license_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - erm_licences
      summary: Add license
      operationId: addERMLicenses
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/erm_license_yaml'
        description: A JSON object containing information about the new agreement's license
      responses:
        '201':
          description: A successfully created license
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_license_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/licenses/{license_id}:
    delete:
      tags:
      - erm_licences
      summary: Delete license
      operationId: deleteERMlicenses
      parameters:
      - name: license_id
        in: path
        required: true
        description: License internal identifier
        schema:
          type: integer
      responses:
        '204':
          description: license deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: conflict in deleting resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - erm_licences
      summary: get license
      operationId: getERMlicense
      parameters:
      - name: license_id
        in: path
        required: true
        description: License internal identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - user_roles
            - user_roles.patron
            - vendor
            - documents
            type: string
      responses:
        '200':
          description: license
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_license_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - erm_licences
      summary: update license
      operationId: updateERMlicenses
      parameters:
      - name: license_id
        in: path
        required: true
        description: License internal identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - user_roles
            - documents
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/erm_license_yaml'
        description: a json object containing new information about existing license
      responses:
        '200':
          description: a successfully updated license
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_license_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: conflict in updating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    erm_user_role_yaml:
      additionalProperties: false
      properties:
        agreement_id:
          description: Internal agreement identifier
          type:
          - integer
          - 'null'
        license_id:
          description: Internal license identifier
          type:
          - integer
          - 'null'
        patron:
          type:
          - object
          - 'null'
        role:
          description: role of the user
          type:
          - string
        user_id:
          description: Internal patron identifier
          type: integer
        user_role_id:
          description: Internal user_role identifier
          type: integer
      required:
      - user_id
      - role
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    erm_license_yaml:
      additionalProperties: false
      properties:
        description:
          description: description of the license
          type:
          - string
          - 'null'
        documents:
          description: documents
          items:
            $ref: '#/components/schemas/erm_document_yaml'
          type: array
        ended_on:
          description: End of the license
          format: date
          type:
          - string
          - 'null'
        license_id:
          description: internally assigned license identifier
          readOnly: true
          type: integer
        name:
          description: name of the license
          type: string
        started_on:
          description: Start of the license
          format: date
          type:
          - string
          - 'null'
        status:
          description: status of the license
          type: string
        type:
          description: description of the license
          type: string
        user_roles:
          description: role for users
          items:
            $ref: '#/components/schemas/erm_user_role_yaml'
          type: array
        vendor:
          description: Information about the vendor
          type:
          - object
          - 'null'
        vendor_id:
          description: foreign key to aqbooksellers
          type:
          - integer
          - 'null'
      required:
      - license_id
      - name
      - status
      - type
      type: object
    erm_document_yaml:
      additionalProperties: false
      properties:
        agreement_id:
          description: Internal agreement identifier
          type:
          - integer
          - 'null'
        document_id:
          description: internally assigned identifier
          type: integer
        file_content:
          description: Content of the file
          type:
          - string
          - 'null'
        file_description:
          description: Description of the file
          type:
          - string
          - 'null'
        file_name:
          description: Name of the file
          type:
          - string
          - 'null'
        file_type:
          description: Type of the file
          readOnly: true
          type:
          - string
          - 'null'
        license_id:
          description: Internal license identifier
          type:
          - integer
          - 'null'
        notes:
          type:
          - string
          - 'null'
        physical_location:
          description: Physical location of the document
          type:
          - string
          - 'null'
        uploaded_on:
          description: Datetime of the upload
          format: date-time
          readOnly: true
          type:
          - string
          - 'null'
        uri:
          description: URI of the document
          type:
          - string
          - 'null'
      type: object
