openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Eholdings Titles API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ERM eHoldings titles
  name: erm_eholdings_titles
  x-displayName: ERM eHoldings titles
paths:
  /erm/eholdings/local/titles/import:
    post:
      tags:
      - erm_eholdings_titles
      summary: Import local titles
      operationId: importErmEHoldingsTitles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                list_id:
                  type: string
                package_id:
                  type: string
              type: object
        description: The list_id of the list to import
      responses:
        '201':
          description: Successfully enqueued the import job
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  job_id:
                    type: string
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/eholdings/{provider}/titles:
    get:
      tags:
      - erm_eholdings_titles
      summary: List eholdings titles
      operationId: listErmEHoldingsTitles
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: title_id
        in: query
        required: false
        description: Case insensitive search on title title_id
        schema:
          type: integer
      - name: publication_title
        in: query
        required: false
        description: Case insensitive search on title publication_title
        schema:
          type: string
      - name: external_id
        in: query
        required: false
        description: Case insensitive search on title external_id
        schema:
          type: string
      - name: print_identifier
        in: query
        required: false
        description: Case insensitive search on title print_identifier
        schema:
          type: string
      - name: online_identifier
        in: query
        required: false
        description: Case insensitive search on title online_identifier
        schema:
          type: string
      - name: date_first_issue_online
        in: query
        required: false
        description: Case insensitive search on title date_first_issue_online
        schema:
          type: string
      - name: num_first_vol_online
        in: query
        required: false
        description: Case insensitive search on title num_first_vol_online
        schema:
          type: string
      - name: num_first_issue_online
        in: query
        required: false
        description: Case insensitive search on title num_first_issue_online
        schema:
          type: string
      - name: date_last_issue_online
        in: query
        required: false
        description: Case insensitive search on title date_last_issue_online
        schema:
          type: string
      - name: num_last_vol_online
        in: query
        required: false
        description: Case insensitive search on title num_last_vol_online
        schema:
          type: string
      - name: num_last_issue_online
        in: query
        required: false
        description: Case insensitive search on title num_last_issue_online
        schema:
          type: string
      - name: title_url
        in: query
        required: false
        description: Case insensitive search on title title_url
        schema:
          type: string
      - name: first_author
        in: query
        required: false
        description: Case insensitive search on title first_author
        schema:
          type: string
      - name: embargo_info
        in: query
        required: false
        description: Case insensitive search on title embargo_info
        schema:
          type: string
      - name: coverage_depth
        in: query
        required: false
        description: Case insensitive search on title coverage_depth
        schema:
          type: string
      - name: notes
        in: query
        required: false
        description: Case insensitive search on title notes
        schema:
          type: string
      - name: publisher_name
        in: query
        required: false
        description: Case insensitive search on title publisher_name
        schema:
          type: string
      - name: publication_type
        in: query
        required: false
        description: Case insensitive search on title publication_type
        schema:
          type: string
      - name: date_monograph_published_print
        in: query
        required: false
        description: Case insensitive search on title date_monograph_published_print
        schema:
          type: string
      - name: date_monograph_published_online
        in: query
        required: false
        description: Case insensitive search on title date_monograph_published_online
        schema:
          type: string
      - name: monograph_volume
        in: query
        required: false
        description: Case insensitive search on title monograph_volume
        schema:
          type: string
      - name: monograph_edition
        in: query
        required: false
        description: Case insensitive search on title monograph_edition
        schema:
          type: string
      - name: first_editor
        in: query
        required: false
        description: Case insensitive search on title first_editor
        schema:
          type: string
      - name: parent_publication_title_id
        in: query
        required: false
        description: Case insensitive search on title parent_publication_title_id
        schema:
          type: string
      - name: preceding_publication_title_id
        in: query
        required: false
        description: Case insensitive search on title preceding_publication_title_id
        schema:
          type: string
      - name: access_type
        in: query
        required: false
        description: Case insensitive search on title access_type
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - resources.package
            type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of eHoldings titles
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_eholdings_title_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - erm_eholdings_titles
      summary: Add eholding
      operationId: addErmEHoldingsTitles
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/erm_eholdings_title_yaml'
        description: A JSON object containing information about the new title
      responses:
        '201':
          description: A successfully created title
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_eholdings_title_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/eholdings/{provider}/titles/{title_id}:
    delete:
      tags:
      - erm_eholdings_titles
      summary: Delete eHolding title
      operationId: deleteErmEHoldingsTitles
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: title_id
        in: path
        required: true
        description: Title internal identifier
        schema:
          type: integer
      responses:
        '204':
          description: title deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in deleting resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - erm_eholdings_titles
      summary: Get titles
      operationId: getErmEHoldingsTitles
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: title_id
        in: path
        required: true
        description: Title internal identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - resources
            - resources.package
            type: string
      responses:
        '200':
          description: An eHolding title
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_eholdings_title_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - erm_eholdings_titles
      summary: Update titles
      operationId: updateErmEHoldingsTitles
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: title_id
        in: path
        required: true
        description: Title internal identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - resources
            - resources.package
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/erm_eholdings_title_yaml'
        description: A JSON object containing new information about existing title
      responses:
        '200':
          description: A successfully updated title
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_eholdings_title_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in updating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/eholdings/{provider}/titles/{title_id}/resources:
    get:
      tags:
      - erm_eholdings_titles
      summary: List eholdings resources
      operationId: listErmEHoldingsTitlesResources
      parameters:
      - name: provider
        in: path
        required: true
        description: Provider name
        schema:
          type: string
      - name: resource_id
        in: query
        required: false
        description: Case insensitive search on resource_id
        schema:
          type: string
      - name: started_on
        in: query
        required: false
        description: Case insensitive search on started_on
        schema:
          type: string
      - name: ended_on
        in: query
        required: false
        description: Case insensitive search on ended_on
        schema:
          type: string
      - name: proxy
        in: query
        required: false
        description: Case insensitive search on proxy
        schema:
          type: string
      - name: title_id
        in: path
        required: true
        description: Title internal identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - title.publication_title
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of eHoldings resources
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_eholdings_resource_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    erm_eholdings_title_yaml:
      additionalProperties: false
      properties:
        access_type:
          description: access_type of the title
          type:
          - string
          - 'null'
        biblio_id:
          description: internally assigned identifier for the linked biblio
          readOnly: true
          type:
          - integer
          - 'null'
        coverage_depth:
          description: coverage_depth of the title
          type:
          - string
          - 'null'
        date_first_issue_online:
          description: date_first_issue_online of the title
          type:
          - string
          - 'null'
        date_last_issue_online:
          description: date_last_issue_online of the title
          type:
          - string
          - 'null'
        date_monograph_published_online:
          description: date_monograph_published_online of the title
          type:
          - string
          - 'null'
        date_monograph_published_print:
          description: date_monograph_published_print of the title
          type:
          - string
          - 'null'
        embargo_info:
          description: embargo_info of the title
          type:
          - string
          - 'null'
        external_id:
          description: External id of the title
          type:
          - string
          - 'null'
        first_author:
          description: first_author of the title
          type:
          - string
          - 'null'
        first_editor:
          description: first_editor of the title
          type:
          - string
          - 'null'
        is_selected:
          description: if the title is selected in the KB
          type:
          - boolean
          - 'null'
        monograph_edition:
          description: monograph_edition of the title
          type:
          - string
          - 'null'
        monograph_volume:
          description: monograph_volume of the title
          type:
          - string
          - 'null'
        notes:
          description: notes of the title
          type:
          - string
          - 'null'
        num_first_issue_online:
          description: num_first_issue_online of the title
          type:
          - string
          - 'null'
        num_first_vol_online:
          description: num_first_vol_online of the title
          type:
          - string
          - 'null'
        num_last_issue_online:
          description: num_last_issue_online of the title
          type:
          - string
          - 'null'
        num_last_vol_online:
          description: num_last_vol_online of the title
          type:
          - string
          - 'null'
        online_identifier:
          description: online_identifier of the title
          type:
          - string
          - 'null'
        parent_publication_title_id:
          description: parent_publication_title_id of the title
          type:
          - string
          - 'null'
        preceding_publication_title_id:
          description: preceding_publication_title_id of the title
          type:
          - string
          - 'null'
        print_identifier:
          description: print_identifier of the title
          type:
          - string
          - 'null'
        publication_title:
          description: publication_title of the title
          type: string
        publication_type:
          description: publication_type of the title
          type:
          - string
          - 'null'
        publisher_name:
          description: publisher_name of the title
          type:
          - string
          - 'null'
        resources:
          description: Resource containing this title
          items:
            $ref: '#/components/schemas/erm_eholdings_resource_yaml'
          type: array
        title_id:
          description: internally assigned identifier
          readOnly: true
          type: integer
        title_url:
          description: title_url of the title
          type:
          - string
          - 'null'
      required:
      - publication_title
      type: object
    erm_eholdings_resource_yaml:
      additionalProperties: false
      properties:
        ended_on:
          description: End date
          type:
          - string
          - 'null'
        is_selected:
          type:
          - boolean
          - 'null'
        package:
          description: Information about the package
          type:
          - object
          - 'null'
        package_id:
          description: foreign key to the package
          type:
          - string
          - 'null'
        proxy:
          description: Proxy to access this resource
          type:
          - string
          - 'null'
        resource_id:
          description: internally assigned identifier
          readOnly: true
          type: string
        started_on:
          description: Start date
          type:
          - string
          - 'null'
        title:
          description: Information about the title
          type:
          - object
          - 'null'
        title_id:
          description: foreign key to the title
          type:
          - integer
          - 'null'
        vendor:
          description: Information about the vendor
          type:
          - object
          - 'null'
        vendor_id:
          description: foreign key to aqbooksellers
          type:
          - integer
          - 'null'
      required:
      - package_id
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
