openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Authorised Values API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage authorised values
  name: authorised_values
  x-displayName: Authorised values
paths:
  /authorised_value_categories/{authorised_value_category_name}/authorised_values:
    get:
      tags:
      - authorised_values
      summary: List authorised values for a given category
      operationId: listAuthorisedValues
      parameters:
      - name: authorised_value_category_name
        in: path
        required: true
        description: category name
        schema:
          type: string
      - name: authorised_value_id
        in: query
        required: false
        description: Case insensitive search on authorised value id
        schema:
          type: integer
      - name: category_name
        in: query
        required: false
        description: Case insensitive search on authorised value category name
        schema:
          type: string
      - name: value
        in: query
        required: false
        description: Case insensitive search on value
        schema:
          type: string
      - name: description
        in: query
        required: false
        description: Case insensitive search on description
        schema:
          type: string
      - name: opac_description
        in: query
        required: false
        description: Case insensitive search on opac description
        schema:
          type: string
      - name: image_url
        in: query
        required: false
        description: Case insensitive search on image url
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of authorised values
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/authorised_value_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    authorised_value_yaml:
      additionalProperties: false
      properties:
        authorised_value_id:
          description: internally assigned authorised value identifier
          readOnly: true
          type: integer
        category_name:
          description: the category of this authorised value
          type: string
        description:
          description: The staff interface description for this authorised value
          type: string
        image_url:
          description: The url of the image associated with this authorised value, if any
          type:
          - string
          - 'null'
        opac_description:
          description: The public interface description of this authorised value, if set"
          type:
          - string
          - 'null'
        value:
          description: The code for this authorised value
          type: string
      required:
      - category_name
      - value
      - description
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
