openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Smtp Servers API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage SMTP servers configurations
  name: smtp_servers
  x-displayName: SMTP servers
paths:
  /config/smtp_servers:
    get:
      tags:
      - smtp_servers
      summary: List SMTP servers
      operationId: listSMTPServers
      parameters:
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of SMTP servers
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/smtp_server_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - smtp_servers
      summary: Add SMTP server
      operationId: addSMTPServer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smtp_server_yaml'
        description: A JSON object representing a new SMTP server configuration
      responses:
        '201':
          description: An SMTP server object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smtp_server_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /config/smtp_servers/{smtp_server_id}:
    delete:
      tags:
      - smtp_servers
      summary: Delete SMTP server
      operationId: deleteSMTPServer
      parameters:
      - name: smtp_server_id
        in: path
        required: true
        description: SMTP server internal identifier
        schema:
          type: integer
      responses:
        '204':
          description: SMTP server deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - smtp_servers
      summary: Get SMTP server
      operationId: getSMTPServer
      parameters:
      - name: smtp_server_id
        in: path
        required: true
        description: SMTP server internal identifier
        schema:
          type: integer
      responses:
        '200':
          description: An SMTP server object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smtp_server_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict updating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - smtp_servers
      summary: Update SMTP server
      operationId: updateSMTPServer
      parameters:
      - name: smtp_server_id
        in: path
        required: true
        description: SMTP server internal identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/smtp_server_yaml'
        description: An SMTP server object
      responses:
        '200':
          description: An SMTP server object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/smtp_server_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    smtp_server_yaml:
      additionalProperties: false
      properties:
        debug:
          description: If the SMTP connection is set to debug mode
          type: boolean
        host:
          description: SMTP host name
          type: string
        is_default:
          description: Is this the default SMTP server
          type: boolean
        name:
          description: Name of the SMTP server
          type: string
        password:
          description: The password to use for authentication (optional)
          type:
          - string
          - 'null'
        port:
          description: TCP port number
          type: integer
        smtp_server_id:
          description: Internal SMTP server identifier
          readOnly: true
          type: integer
        ssl_mode:
          description: If SSL/TLS will be used
          enum:
          - disabled
          - ssl
          - starttls
          type: string
        timeout:
          description: Maximum time in seconds to wait for server
          type: integer
        user_name:
          description: The user name to use for authentication (optional)
          type:
          - string
          - 'null'
      required:
      - name
      type: object
