openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Usage Reports API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ERM usage reports
  name: erm_usage_reports
  x-displayName: ERM usage reports
paths:
  /erm/eUsage/metric_types_report/{data_type}:
    get:
      tags:
      - erm_usage_reports
      summary: get usage metric_types report
      operationId: getERMUsageMetricTypesReport
      parameters:
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - erm_usage_muses
            type: string
      - name: data_type
        in: path
        required: true
        description: ERM custom report data type
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: custom_report
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_custom_report_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/eUsage/monthly_report/{data_type}:
    get:
      tags:
      - erm_usage_reports
      summary: get usage monthly report
      operationId: getERMUsageMonthlyReport
      parameters:
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - erm_usage_muses
            type: string
      - name: data_type
        in: path
        required: true
        description: ERM custom report data type
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: custom_report
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_custom_report_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/eUsage/provider_rollup_report/{data_type}:
    get:
      tags:
      - erm_usage_reports
      summary: get usage provider rollup report
      operationId: getERMUsageProviderRollupReport
      parameters:
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - erm_usage_titles.erm_usage_muses
            - erm_usage_platforms.erm_usage_muses
            - erm_usage_databases.erm_usage_muses
            - erm_usage_items.erm_usage_muses
            type: string
      - name: data_type
        in: path
        required: true
        description: ERM custom report data type
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: custom_report
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_custom_report_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/eUsage/yearly_report/{data_type}:
    get:
      tags:
      - erm_usage_reports
      summary: get usage yearly report
      operationId: getERMUsageYearlyReport
      parameters:
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - erm_usage_yuses
            type: string
      - name: data_type
        in: path
        required: true
        description: ERM custom report data type
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: custom_report
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_custom_report_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    erm_custom_report_yaml:
      properties:
        erm_usage_muses:
          description: usage mus
          items:
            $ref: '#/components/schemas/erm_usage_mus_yaml'
          type: array
        erm_usage_yuses:
          description: usage yus
          items:
            $ref: '#/components/schemas/erm_usage_yus_yaml'
          type: array
        metric_type:
          description: metric_type of the title data
          type:
          - string
          - 'null'
        online_issn:
          description: online_issn number of the title
          type:
          - string
          - 'null'
        print_issn:
          description: print_issn number of the title
          type:
          - string
          - 'null'
        provider_name:
          description: provider_name of the title
          type:
          - string
          - 'null'
        publisher:
          description: publisher of the title data
          type:
          - string
          - 'null'
        publisher_id:
          description: publisher_id of the title data
          type:
          - string
          - 'null'
        title:
          description: title of the title
          type:
          - string
          - 'null'
        title_doi:
          description: doi number of the title
          type:
          - string
          - 'null'
        title_id:
          description: internally assigned title identifier
          readOnly: true
          type: integer
        title_uri:
          description: title_uri number of the title
          type:
          - string
          - 'null'
        usage_data_provider_id:
          description: usage_data_provider the title is harvested by
          type: integer
      type: object
    erm_usage_yus_yaml:
      additionalProperties: false
      properties:
        access_type:
          description: access type of the yearly usage summary
          type:
          - string
          - 'null'
        database_id:
          description: database_id of the yearly usage summary
          type:
          - integer
          - 'null'
        item_id:
          description: item_id of the yearly usage summary
          type:
          - integer
          - 'null'
        metric_type:
          description: metric type of the yearly usage summary
          type:
          - string
          - 'null'
        platform_id:
          description: platform_id of the yearly usage summary
          type:
          - integer
          - 'null'
        report_type:
          description: report type of the yearly usage summary
          type:
          - string
          - 'null'
        title_id:
          description: title_id of the yearly usage summary
          type:
          - integer
          - 'null'
        totalcount:
          description: total count of the yearly usage summary
          type:
          - integer
          - 'null'
        usage_data_provider_id:
          description: usage_data_provider_id of the yearly usage summary
          type:
          - integer
          - 'null'
        year:
          description: year of the yearly usage summary
          type:
          - integer
          - 'null'
        yearly_usage_summary_id:
          description: internally assigned yearly usage summary identifier
          readOnly: true
          type: integer
        yop:
          description: year of publication of the yearly usage summary
          type:
          - string
          - 'null'
      required:
      - title_id
      - usage_data_provider_id
      type: object
    erm_usage_mus_yaml:
      additionalProperties: false
      properties:
        access_type:
          description: access type of the monthly usage summary
          type:
          - string
          - 'null'
        database_id:
          description: database_id of the monthly usage summary
          type:
          - integer
          - 'null'
        item_id:
          description: item_id of the monthly usage summary
          type:
          - integer
          - 'null'
        metric_type:
          description: metric type of the monthly usage summary
          type:
          - string
          - 'null'
        month:
          description: month of the monthly usage summary
          type:
          - integer
          - 'null'
        monthly_usage_summary_id:
          description: internally assigned monthly usage summary identifier
          readOnly: true
          type: integer
        platform_id:
          description: platform_id of the monthly usage summary
          type:
          - integer
          - 'null'
        report_type:
          description: report type of the monthly usage summary
          type:
          - string
          - 'null'
        title_id:
          description: title_id of the monthly usage summary
          type:
          - integer
          - 'null'
        usage_count:
          description: total count of the monthly usage summary
          type:
          - integer
          - 'null'
        usage_data_provider_id:
          description: usage_data_provider_id of the monthly usage summary
          type:
          - integer
          - 'null'
        year:
          description: year of the monthly usage summary
          type:
          - integer
          - 'null'
        yop:
          description: year of publication of the monthly usage summary
          type:
          - string
          - 'null'
      required:
      - title_id
      - usage_data_provider_id
      type: object
