openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Recalls API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage recalls
  name: Recalls
  x-displayName: Recalls
paths:
  /patrons/{patron_id}/recalls:
    get:
      tags:
      - Recalls
      summary: List recalls for a patron
      operationId: getPatronRecalls
      parameters:
      - name: patron_id
        in: path
        required: true
        description: Internal patron identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: The patron's recalls
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/recall_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Patron not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    recall_yaml:
      additionalProperties: false
      properties:
        biblio_id:
          description: Internal biblio identifier
          type: integer
        completed:
          description: Controls if the recall is fulfilled
          type: boolean
        completed_date:
          description: The date the recall was fulfilled
          format: date-time
          type:
          - string
          - 'null'
        created_date:
          description: The date the recall was requested
          format: date-time
          type:
          - string
          - 'null'
        expiration_date:
          description: The date the recall expires
          format: date-time
          type:
          - string
          - 'null'
        item_id:
          description: Internal item identifier
          type:
          - integer
          - 'null'
        item_level:
          description: If the recall is requested at item level
          type: boolean
        notes:
          description: Notes related to this recall
          type:
          - string
          - 'null'
        patron_id:
          description: Internal patron identifier
          type: integer
        pickup_library_id:
          description: Internal library identifier for the pickup library
          type:
          - string
          - 'null'
        priority:
          description: Where in the queue the patron sits (not yet implemented)
          type:
          - integer
          - 'null'
        recall_id:
          description: Internal recall identifier
          type: integer
        status:
          description: Status of the recall
          enum:
          - requested
          - overdue
          - waiting
          - in_transit
          - cancelled
          - expired
          - fulfilled
          type: string
        timestamp:
          description: Timestamp for the latest recall update
          format: date-time
          type: string
        waiting_date:
          description: The date the item was marked as waiting for the patron at the library
          format: date-time
          type:
          - string
          - 'null'
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
