openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Checkouts API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage checkouts
  name: Checkouts
  x-displayName: Checkouts
paths:
  /biblios/{biblio_id}/checkouts:
    get:
      tags:
      - Checkouts
      summary: List checkouts for a biblio
      operationId: listBiblioCheckouts
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - issuer
            - item
            - patron
            - library
            type: string
      - name: checked_in
        in: query
        required: false
        description: By default, current checkouts are returned, when this is true then checked in checkouts are returned as result.
        schema:
          type: boolean
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of checkouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkouts_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /checkouts:
    get:
      tags:
      - Checkouts
      summary: List checkouts
      operationId: listCheckouts
      parameters:
      - name: patron_id
        in: query
        required: false
        description: Internal patron identifier
        schema:
          type: integer
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: checked_in
        in: query
        required: false
        description: By default, current checkouts are returned, when this is true then checked in checkouts are returned as result.
        schema:
          type: boolean
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - issuer
            - renewals
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of checkouts
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkouts_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Patron not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Checkouts
      summary: Add a new checkout
      operationId: addCheckout
      parameters:
      - name: confirmation
        in: query
        required: false
        description: A JWT confirmation token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkout_yaml'
        description: A JSON object containing information about the new checkout
      responses:
        '201':
          description: Created checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkout_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Cannot create checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '409':
          description: Conflict in creating checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /checkouts/availability:
    get:
      tags:
      - Checkouts
      summary: Get checkout availability
      operationId: availabilityCheckouts
      parameters:
      - name: patron_id
        in: query
        required: false
        description: Internal patron identifier
        schema:
          type: integer
      - name: item_id
        in: query
        required: false
        description: Internal item identifier
        schema:
          type: integer
      responses:
        '200':
          description: Availability
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkout_availability_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /checkouts/{checkout_id}:
    get:
      tags:
      - Checkouts
      summary: Get checkout
      operationId: getCheckout
      parameters:
      - name: checkout_id
        in: path
        required: true
        description: Internal checkout identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - issuer
            - renewals
            type: string
      responses:
        '200':
          description: Updated borrower's checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkout_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /checkouts/{checkout_id}/allows_renewal:
    get:
      tags:
      - Checkouts
      summary: Get renewability for a checkout
      operationId: allows_renewalCheckout
      parameters:
      - name: checkout_id
        in: path
        required: true
        description: Internal checkout identifier
        schema:
          type: integer
      responses:
        '200':
          description: Checkout renewability information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/allows_renewal_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /checkouts/{checkout_id}/renewal:
    post:
      tags:
      - Checkouts
      summary: Renew a checkout
      operationId: renewCheckout
      parameters:
      - name: checkout_id
        in: path
        required: true
        description: Internal checkout identifier
        schema:
          type: integer
      - name: seen
        in: query
        required: false
        description: Item was seen flag
        schema:
          type: integer
      responses:
        '201':
          description: Updated borrower's checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkout_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Cannot renew checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /checkouts/{checkout_id}/renewals:
    get:
      tags:
      - Checkouts
      summary: List renewals for a checkout
      operationId: getRenewals
      parameters:
      - name: checkout_id
        in: path
        required: true
        description: Internal checkout identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - renewer
            type: string
      responses:
        '200':
          description: List of checkouts renewals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/renewals_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Checkouts
      summary: Renew a checkout
      operationId: renewsCheckout
      parameters:
      - name: checkout_id
        in: path
        required: true
        description: Internal checkout identifier
        schema:
          type: integer
      - name: seen
        in: query
        required: false
        description: Item was seen flag
        schema:
          type: integer
      responses:
        '201':
          description: Updated borrower's checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkout_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Cannot renew checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /patrons/{patron_id}/checkouts:
    get:
      tags:
      - Checkouts
      summary: List checkouts for a patron
      operationId: getPatronCheckouts
      parameters:
      - name: patron_id
        in: path
        required: true
        description: Internal patron identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - cancellation_requested
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: The patron checkouts
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/checkout_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Patron not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /public/checkouts/availability:
    get:
      tags:
      - Checkouts
      summary: Get checkout availability
      operationId: availabilityCheckoutsPublic
      parameters:
      - name: patron_id
        in: query
        required: false
        description: Internal patron identifier
        schema:
          type: integer
      - name: item_id
        in: query
        required: false
        description: Internal item identifier
        schema:
          type: integer
      responses:
        '200':
          description: Availability
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  blockers:
                    type: object
                  confirmation_token:
                    type: string
                  confirms:
                    type: object
                  warnings:
                    type: object
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /public/patrons/{patron_id}/checkouts:
    post:
      tags:
      - Checkouts
      summary: Add a new checkout (public)
      operationId: addCheckoutPublic
      parameters:
      - name: patron_id
        in: path
        required: true
        description: Internal patron identifier
        schema:
          type: integer
      - name: confirmation
        in: query
        required: false
        description: A JWT confirmation token
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/checkout_yaml'
        description: A JSON object containing information about the new checkout
      responses:
        '201':
          description: Created checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/checkout_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Cannot create checkout
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '405':
          description: 'Method not allowed. Possible `error_code` attribute values:


            * `FEATURE_DISABLED`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: 'Conflict in creating checkout. Possible `error_code` attribute values:


            * `ITEM_NOT_FOUND`

            * `PATRON_NOT_FOUND`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '412':
          description: Precondition failed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    checkout_availability_yaml:
      additionalProperties: false
      properties:
        blockers:
          description: blocking issues
          type: object
        confirmation_token:
          description: token for confirmation
          type:
          - string
          - 'null'
        confirms:
          description: issues requireing confirmation
          type: object
        warnings:
          description: informational issues
          type: object
      type: object
    renewal_yaml:
      additionalProperties: false
      properties:
        checkout_id:
          description: internally assigned checkout identifier
          type: integer
        interface:
          description: 'Interface from which the renewal took place (values can be: api, cron, commandline, intranet, opac and sip)'
          type:
          - string
          - 'null'
        renewal_date:
          description: Date the renewal took place
          format: date-time
          type: string
        renewal_id:
          description: internally assigned renewal identifier
          type: integer
        renewal_type:
          enum:
          - Automatic
          - Manual
          type:
          - string
          - 'null'
        renewer:
          description: The object representing the renewal issuer
          type:
          - object
          - 'null'
        renewer_id:
          description: internally assigned for the user that processed the renewal
          type:
          - integer
          - 'null'
        seen:
          description: Seen/Unseen renewal
          type:
          - boolean
        timestamp:
          description: Last update time
          type: string
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    renewals_yaml:
      additionalProperties: false
      items:
        $ref: '#/components/schemas/renewal_yaml'
      type: array
    checkout_yaml:
      additionalProperties: false
      properties:
        auto_renew:
          description: Auto renewal
          type: boolean
        auto_renew_error:
          description: Auto renewal error
          type:
          - string
          - 'null'
        checkin_date:
          description: Date the item was returned
          format: date-time
          type:
          - string
          - 'null'
        checkout_date:
          description: Date the item was issued
          format: date-time
          type: string
        checkout_id:
          description: internally assigned checkout identifier
          type: integer
        due_date:
          description: Due date
          format: date-time
          type: string
        issuer:
          description: The object representing the checkout issuer
          type:
          - object
          - 'null'
        issuer_id:
          description: internally assigned for the user that processed the checkout
          type:
          - integer
          - 'null'
        item:
          description: The object representing the checked out item
          type:
          - object
          - 'null'
        item_id:
          description: internal identifier of checked out item
          type:
          - integer
          - 'null'
        last_renewed_date:
          description: Date the item was last renewed
          format: date-time
          type:
          - string
          - 'null'
        library:
          description: The object representing the checkout library
          type:
          - object
          - 'null'
        library_id:
          description: code of the library the item was checked out
          type:
          - string
          - 'null'
        note:
          description: Issue note text
          type:
          - string
          - 'null'
        note_date:
          description: Datetime of the issue note
          format: date
          type:
          - string
          - 'null'
        note_seen:
          description: has the note been seen already
          type:
          - boolean
          - 'null'
        onsite_checkout:
          description: On site checkout
          type: boolean
        patron:
          description: The object representing the checkout patron
          type:
          - object
          - 'null'
        patron_id:
          description: Internal patron identifier
          type: integer
        renewals_count:
          description: Number of renewals
          type:
          - integer
          - 'null'
        timestamp:
          description: Last update time
          type: string
        unseen_renewals:
          description: Number of consecutive unseen renewals
          type:
          - integer
          - 'null'
      type: object
    allows_renewal_yaml:
      additionalProperties: false
      properties:
        allows_renewal:
          description: Renewability status; true = renewable, false = not renewable
          type: boolean
        current_renewals:
          description: Current used renewals
          type: integer
        error:
          description: Description on false allows_renewal.
          type:
          - string
          - 'null'
        max_renewals:
          description: Maximum number of possible renewals
          type: integer
        unseen_renewals:
          description: Number of consecutive times the item was renewed without being seen
          type: integer
      type: object
    checkouts_yaml:
      additionalProperties: false
      items:
        $ref: '#/components/schemas/checkout_yaml'
      type: array
