openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Counter Registry API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Retrieve counter registry data
  name: erm_counter_registry
  x-displayName: ERM counter registry
paths:
  /erm/counter_registry:
    get:
      tags:
      - erm_counter_registry
      summary: List platforms currently registered with the counter registry
      operationId: listCounterRegisteredPlatforms
      parameters:
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of counter registered platforms
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_counter_registry_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    erm_counter_registry_yaml:
      additionalProperties: false
      properties:
        abbrev:
          description: abbrev of the platform
          type:
          - string
          - 'null'
        address:
          description: current address of the platform
          type:
          - string
          - 'null'
        address_country:
          description: current address country of the platform
          type:
          - object
          - string
        audited:
          description: has the record been audited?
          type: boolean
        contact:
          description: current contact of the platform
          type:
          - object
          - 'null'
        content_provider_name:
          description: current content_provider_name of the platform
          type:
          - string
          - 'null'
        host_types:
          description: host_types for the platform
          items:
            type: object
          type: array
        id:
          description: internally assigned identifier
          type: string
        name:
          description: name of the platform
          type: string
        reports:
          description: reports for the platform
          items:
            type: object
          type: array
        sushi_services:
          description: sushi_services for the platform
          items:
            type: object
          type: array
        website:
          description: current website of the platform
          type:
          - string
          - 'null'
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
