openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Patron Categories API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage patron categories
  name: patron_categories
  x-displayName: Patron categories
paths:
  /patron_categories:
    get:
      tags:
      - patron_categories
      summary: List patron categories
      operationId: listPatronCategories
      parameters:
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of patron categories
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/patron_category_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    patron_category_yaml:
      additionalProperties: false
      properties:
        block_expired_patron_opac_actions:
          description: Whether or not a patron of this category can renew books or place holds once their card has expired. 0 means they can, 1 means they cannot, -1 means use syspref BlockExpiredPatronOpacActions
          type: number
        can_be_guarantee:
          description: If patrons of this category can be guarantees
          type: boolean
        can_place_ill_in_opac:
          description: Can this patron category place interlibrary loan requests
          type: boolean
        category_type:
          description: Type of Koha patron (Adult, Child, Professional, Organizational, Statistical, Staff)
          type: string
        change_password:
          description: If patrons of this category can change their passwords in the OPAC
          type:
          - boolean
          - 'null'
        check_prev_checkout:
          description: Produce a warning for this patron category if this item has previously been checked out to this patron if ''yes'', not if ''no'', defer to syspref setting if ''inherit''.'
          type: string
        default_privacy:
          description: Default privacy setting for this patron category
          enum:
          - default
          - never
          - forever
          type: string
        enrolment_fee:
          description: Enrollment fee for the patron
          type:
          - number
          - 'null'
        enrolment_period:
          description: Number of months the patron is enrolled for
          type:
          - number
          - 'null'
        enrolment_period_date:
          description: Date the patron is enrolled until
          format: date
          type:
          - string
          - 'null'
        exclude_from_local_holds_priority:
          description: Exclude patrons of this category from local holds priority
          type:
          - boolean
          - 'null'
        hide_lost_items:
          description: Are lost items shown to this category (1 for yes, 0 for no)
          type: boolean
        lower_age_limit:
          description: The minimum age required for the patron category
          type:
          - number
          - 'null'
        min_password_length:
          description: Set minimum password length for patrons in this category
          type:
          - number
          - 'null'
        name:
          description: Name of the patron category
          type:
          - string
          - 'null'
        overdue_notice_required:
          description: Are overdue notices sent to this patron category (1 for yes, 0 for no)
          type:
          - boolean
          - 'null'
        password_expiry_days:
          description: Number of days after which the patron must reset their password
          type:
          - number
          - 'null'
        patron_category_id:
          description: Internal patron category identifier
          type: string
        require_strong_password:
          description: Set required password strength for patrons in this category
          type:
          - boolean
          - 'null'
        reserve_fee:
          description: Cost to place holds
          type:
          - number
          - 'null'
        reset_password:
          description: If patrons of this category can do the password reset flow
          type:
          - boolean
          - 'null'
        upper_age_limit:
          description: Age limit for the patron
          type:
          - number
          - 'null'
      required:
      - patron_category_id
      type: object
