openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Documents API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ERM docuemnts
  name: erm_documents
  x-displayName: ERM documents
paths:
  /erm/documents/{document_id}/file/content:
    get:
      tags:
      - erm_documents
      summary: Download erm document
      operationId: downloadErmDocument
      parameters:
      - name: document_id
        in: path
        required: true
        description: Case insensitive search on document_id
        schema:
          type: integer
      responses:
        '200':
          description: Anagreement
          content:
            application/octet-stream:
              schema:
                type: file
        '400':
          description: Bad request
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/octet-stream:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
