openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Return Claims API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage return claims
  name: return_claims
  x-displayName: Return claims
paths:
  /return_claims:
    post:
      tags:
      - return_claims
      summary: Add a return claim
      operationId: claimReturned
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                charge_lost_fee:
                  description: Charge a lost fee if true and Koha is set to allow a choice. Ignored otherwise.
                  type: boolean
                created_by:
                  description: User id for the librarian submitting this claim
                  type: string
                item_id:
                  description: Internal item id to claim as returned
                  type: integer
                notes:
                  description: Notes about this return claim
                  type: string
              type: object
        description: A JSON object containing fields to modify
      responses:
        '201':
          description: Created claim
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/return_claim_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Checkout not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict creating the resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /return_claims/{claim_id}:
    delete:
      tags:
      - return_claims
      summary: Delete claim
      operationId: deletedClaim
      parameters:
      - name: claim_id
        in: path
        required: true
        description: Unique identifier for the claim to be deleted
        schema:
          type: integer
      responses:
        '204':
          description: Claim deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/return_claim_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Claim not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /return_claims/{claim_id}/notes:
    put:
      tags:
      - return_claims
      summary: Update notes
      operationId: updateClaimNotes
      parameters:
      - name: claim_id
        in: path
        required: true
        description: Unique identifier for the claim whose notes are to be updated
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                notes:
                  description: Notes about this return claim
                  type: string
                updated_by:
                  description: Interal identifier for the librarian updating the claim notes
                  type: string
              type: object
        description: A JSON object containing fields to modify
      responses:
        '200':
          description: Claim notes updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/return_claim_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Claim not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /return_claims/{claim_id}/resolve:
    put:
      tags:
      - return_claims
      summary: Resolve claim
      operationId: updateClaimResolve
      parameters:
      - name: claim_id
        in: path
        required: true
        description: Unique identifier for the claim to be resolved
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                new_lost_status:
                  description: New lost status to set to the item
                  type: string
                resolution:
                  description: The RETURN_CLAIM_RESOLUTION code to be used to resolve the calim
                  type: string
                resolved_by:
                  description: User id for the librarian resolving the claim
                  type: string
              type: object
        description: A JSON object containing fields to modify
      responses:
        '200':
          description: Claim resolved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/return_claim_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Claim not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    return_claim_yaml:
      additionalProperties: false
      properties:
        claim_id:
          description: internally assigned return claim identifier
          type:
          - integer
        created_by:
          description: patron id of librarian who made the claim
          type:
          - integer
          - 'null'
        created_on:
          description: date of claim creation
          format: date-time
          type:
          - string
          - 'null'
        issue_id:
          description: internal identifier of the claimed checkout if still checked out
          type:
          - integer
          - 'null'
        item_id:
          description: internal identifier of the claimed item
          type:
          - integer
        notes:
          description: notes about this claim
          type:
          - string
          - 'null'
        old_issue_id:
          description: internal identifier of the claimed checkout if not longer checked out
          type:
          - integer
          - 'null'
        patron_id:
          description: Internal patron identifier
          type: integer
        resolution:
          description: code of resolution type for this claim
          type:
          - string
          - 'null'
        resolved_by:
          description: patron id of librarian who resolved this claim
          type:
          - integer
          - 'null'
        resolved_on:
          description: date the claim was resolved
          format: date-time
          type:
          - string
          - 'null'
        updated_by:
          description: patron id of librarian who last updated the claim
          type:
          - integer
          - 'null'
        updated_on:
          description: date the claim was last updated
          format: date-time
          type:
          - string
          - 'null'
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
