openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Ill Requests API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ILL requests
  name: ill_requests
  x-displayName: ILL requests
paths:
  /ill/requests:
    get:
      tags:
      - ill_requests
      summary: List ILL requests
      operationId: listIllrequests
      parameters:
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            - biblio
            - comments
            - comments+count
            - extended_attributes
            - ill_batch
            - library
            - id_prefix
            - patron
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of ILL requests
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/ill_request_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Patron not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - ill_requests
      summary: Add ILL request
      operationId: addIllrequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ill_request_yaml'
        description: A JSON object containing informations about the new request
      responses:
        '201':
          description: Request added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ill_request_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    ill_request_yaml:
      additionalProperties: false
      properties:
        _strings:
          description: Expanded coded fiels (x-koha-embed)
          type:
          - object
          - 'null'
        access_url:
          description: A URL for accessing the item
          type:
          - string
          - 'null'
        biblio:
          description: The linked biblio object (x-koha-embed)
          type:
          - object
          - 'null'
        biblio_id:
          description: Internal bibliographic record identifier
          type:
          - integer
          - 'null'
        comments:
          description: The linked comment objects (x-koha-embed)
          type:
          - array
          - 'null'
        comments_count:
          description: The linked comment objects count (x-koha-embed)
          type:
          - integer
          - 'null'
        completed_date:
          description: Date the request was marked as completed
          format: date
          type:
          - string
          - 'null'
        cost:
          description: Default request cost
          type:
          - string
          - 'null'
        due_date:
          description: Date and time the request item should be due when checked out
          format: date-time
          type:
          - string
          - 'null'
        extended_attributes:
          description: The linked extended ill request attributes (x-koha-embed)
          type:
          - array
          - 'null'
        id_prefix:
          description: The id_prefix of the request (x-koha-embed)
          type:
          - string
          - 'null'
        ill_backend_id:
          description: The ILL backend identifier string
          type: string
        ill_backend_request_id:
          description: Backend-specific request id
          type:
          - string
          - 'null'
        ill_batch:
          description: The linked ill batch object (x-koha-embed)
          type:
          - object
          - 'null'
        ill_batch_id:
          description: Batch id this requests belongs to
          type:
          - integer
          - 'null'
        ill_request_id:
          description: Internal ILL request identifier
          type: integer
        library:
          description: The linked library object (x-koha-embed)
          type:
          - object
          - 'null'
        library_id:
          description: Internal library identifier
          type: string
        medium:
          description: Description of the ILL item medium
          type:
          - string
          - 'null'
        opac_notes:
          description: Note that is visible to the patron
          type:
          - string
          - 'null'
        paid_price:
          description: Effective request cost
          type:
          - string
          - 'null'
        patron:
          description: The linked patron object (x-koha-embed)
          type:
          - object
          - 'null'
        patron_id:
          description: Internal patron id
          type:
          - integer
          - 'null'
        replied_date:
          description: FIXME
          format: date
          type:
          - string
          - 'null'
        requested_date:
          description: Date the request was placed by the patron
          format: date
          type:
          - string
          - 'null'
        staff_notes:
          description: Interal staff note about the request
          type:
          - string
          - 'null'
        status:
          description: 'The status the request is at.


            Note: This is defined by each backend. Please refer to the specific backend''s

            documentation or code to understand the possible values.

            '
          type: string
        status_av:
          description: The authorised value category the field is linked to
          type:
          - string
          - 'null'
        timestamp:
          description: Date and time of last object update
          format: date-time
          type: string
      type: object
