openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Article Requests API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage article requests
  name: article_requests
  x-displayName: Article requests
paths:
  /article_requests/{article_request_id}:
    delete:
      tags:
      - article_requests
      summary: Cancel article requests
      operationId: cancelArticleRequest
      parameters:
      - name: article_request_id
        in: path
        required: true
        description: Article request identifier
        schema:
          type: integer
      - name: cancellation_reason
        in: query
        required: false
        description: Article request cancellation reason
        schema:
          type: string
      - name: notes
        in: query
        required: false
        description: Article request custom cancellation reason
        schema:
          type: string
      responses:
        '204':
          description: Article request canceled
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Patron not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /public/patrons/{patron_id}/article_requests/{article_request_id}:
    delete:
      tags:
      - article_requests
      summary: Cancel patron's article requests
      operationId: publicCancelPatronArticleRequest
      parameters:
      - name: patron_id
        in: path
        required: true
        description: Internal patron identifier
        schema:
          type: integer
      - name: article_request_id
        in: path
        required: true
        description: Article request identifier
        schema:
          type: integer
      - name: cancellation_reason
        in: query
        required: false
        description: Article request cancellation reason
        schema:
          type: string
      - name: notes
        in: query
        required: false
        description: Article request custom cancellation reason
        schema:
          type: string
      responses:
        '204':
          description: Patron's article request canceled
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Patron not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
