openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Ill Batchstatuses API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ILL module batch statuses
  name: ill_batchstatuses
  x-displayName: ILL batch statuses
paths:
  /ill/batchstatuses:
    get:
      tags:
      - ill_batchstatuses
      summary: List ILL batch statuses
      operationId: listIllbatchstatuses
      responses:
        '200':
          description: A list of ILL batch statuses
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ill_batchstatuses_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ILL batch statuses not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - ill_batchstatuses
      summary: Add ILL batch status
      operationId: addIllbatchstatus
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ill_batchstatus_yaml'
        description: A JSON object containing informations about the new batch status
      responses:
        '201':
          description: Batch status added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ill_batchstatus_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /ill/batchstatuses/{ill_batchstatus_code}:
    delete:
      tags:
      - ill_batchstatuses
      summary: Delete ILL batch status
      operationId: deleteBatchstatus
      parameters:
      - name: ill_batchstatus_code
        in: path
        required: true
        description: Internal ILL batch status identifier
        schema:
          type: string
      responses:
        '204':
          description: ILL batch status deleted
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ILL batch status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - ill_batchstatuses
      summary: Get ILL batch status
      operationId: getIllbatchstatuses
      parameters:
      - name: ill_batchstatus_code
        in: path
        required: true
        description: ILL batch status
        schema:
          type: string
      responses:
        '200':
          description: An ILL batch status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ill_batchstatus_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ILL batch status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - ill_batchstatuses
      summary: Update batch status
      operationId: updateIllBatchstatus
      parameters:
      - name: ill_batchstatus_code
        in: path
        required: true
        description: Internal ILL batch status identifier
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ill_batchstatus_yaml'
        description: A JSON object containing information on the batch status
      responses:
        '200':
          description: An ILL batch status
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ill_batchstatus_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ILL batch status not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    ill_batchstatus_yaml:
      additionalProperties: false
      properties:
        code:
          description: Unique, immutable status code
          type: string
        id:
          description: Internal ILL batch status identifier
          type: string
        is_system:
          description: Is this status required for system operation
          type: boolean
        name:
          description: Status name
          type: string
      required:
      - name
      - code
      - is_system
      type: object
    ill_batchstatuses_yaml:
      additionalProperties: false
      items:
        $ref: '#/components/schemas/ill_batchstatus_yaml'
      type: array
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
