openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Batch Import Profiles API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage batch import profiles
  name: batch_import_profiles
  x-displayName: Batch import profiles
paths:
  /import_batch_profiles:
    get:
      tags:
      - batch_import_profiles
      summary: List batch import profiles
      operationId: listImportBatchProfiles
      parameters:
      - name: name
        in: query
        required: false
        description: Search on profile's name
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of import batch profiles
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/import_batch_profiles_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - batch_import_profiles
      summary: Add batch import profile
      operationId: addImportBatchProfiles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                comments:
                  description: any comments added when the file was uploaded
                  type:
                  - string
                  - 'null'
                encoding:
                  description: file encoding
                  type:
                  - string
                  - 'null'
                format:
                  description: marc format
                  type:
                  - string
                  - 'null'
                item_action:
                  description: what to do with item records
                  type:
                  - string
                  - 'null'
                matcher_id:
                  description: the id of the match rule used (matchpoints.matcher_id)
                  type:
                  - integer
                  - 'null'
                name:
                  description: name of this profile
                  type: string
                nomatch_action:
                  description: how to handle records where no match is found
                  type:
                  - string
                  - 'null'
                overlay_action:
                  description: how to handle duplicate records
                  type:
                  - string
                  - 'null'
                parse_items:
                  description: should items be parsed
                  type:
                  - boolean
                  - 'null'
                record_type:
                  description: type of record in the batch
                  type:
                  - string
                  - 'null'
                template_id:
                  description: the id of the marc modification template
                  type:
                  - integer
                  - 'null'
              type: object
        description: A JSON object containing a import batch profile
      responses:
        '201':
          description: Created Profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/import_batch_profile_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Hold not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Borrower not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /import_batch_profiles/{import_batch_profile_id}:
    delete:
      tags:
      - batch_import_profiles
      summary: Delete batch import profile
      operationId: deleteImportBatchProfiles
      parameters:
      - name: import_batch_profile_id
        in: path
        required: true
        description: Internal profile identifier
        schema:
          type: integer
      responses:
        '204':
          description: Profile deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Hold not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Hold not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - batch_import_profiles
      summary: Update batch import profile
      operationId: editImportBatchProfiles
      parameters:
      - name: import_batch_profile_id
        in: path
        required: true
        description: Internal profile identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                comments:
                  description: any comments added when the file was uploaded
                  type:
                  - string
                  - 'null'
                encoding:
                  description: file encoding
                  type:
                  - string
                  - 'null'
                format:
                  description: marc format
                  type:
                  - string
                  - 'null'
                item_action:
                  description: what to do with item records
                  type:
                  - string
                  - 'null'
                matcher_id:
                  description: the id of the match rule used (matchpoints.matcher_id)
                  type:
                  - integer
                  - 'null'
                name:
                  description: name of this profile
                  type: string
                nomatch_action:
                  description: how to handle records where no match is found
                  type:
                  - string
                  - 'null'
                overlay_action:
                  description: how to handle duplicate records
                  type:
                  - string
                  - 'null'
                parse_items:
                  description: should items be parsed
                  type:
                  - boolean
                  - 'null'
                record_type:
                  description: type of record in the batch
                  type:
                  - string
                  - 'null'
                template_id:
                  description: the id of the marc modification template
                  type:
                  - integer
                  - 'null'
              type: object
        description: A JSON object containing a import batch profile
      responses:
        '200':
          description: Updated profile
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/import_batch_profile_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Hold not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Borrower not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    import_batch_profile_yaml:
      additionalProperties: false
      properties:
        comments:
          description: any comments added when the file was uploaded
          type:
          - string
          - 'null'
        encoding:
          description: file encoding
          type:
          - string
          - 'null'
        format:
          description: marc format
          type:
          - string
          - 'null'
        item_action:
          description: what to do with item records
          type:
          - string
          - 'null'
        matcher_id:
          description: the id of the match rule used (matchpoints.matcher_id)
          type:
          - integer
          - 'null'
        name:
          description: name of this profile
          type: string
        nomatch_action:
          description: how to handle records where no match is found
          type:
          - string
          - 'null'
        overlay_action:
          description: how to handle duplicate records
          type:
          - string
          - 'null'
        parse_items:
          description: should items be parsed
          type:
          - boolean
          - 'null'
        profile_id:
          description: Internal profile identifier
          type: integer
        record_type:
          description: type of record in the batch
          type:
          - string
          - 'null'
        template_id:
          description: the id of the marc modification template
          type:
          - integer
          - 'null'
      type: object
    import_batch_profiles_yaml:
      additionalProperties: false
      items:
        $ref: '#/components/schemas/import_batch_profile_yaml'
      type: array
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
