openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Clubs API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage patron clubs
  name: Clubs
  x-displayName: Clubs
paths:
  /clubs/{club_id}/holds:
    post:
      tags:
      - Clubs
      summary: Add a club hold
      operationId: addClubHold
      parameters:
      - name: club_id
        in: path
        required: true
        description: Internal club identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                biblio_id:
                  description: Internal biblio identifier
                  type:
                  - integer
                  - 'null'
                default_patron_home:
                  description: For each patron, set pickup location to patron's home library if possible
                  type: integer
                expiration_date:
                  description: Hold end date
                  format: date
                  type:
                  - string
                  - 'null'
                item_id:
                  description: Internal item identifier
                  type:
                  - integer
                  - 'null'
                item_type:
                  description: Limit hold on one itemtype (ignored for item-level holds)
                  type:
                  - string
                  - 'null'
                notes:
                  description: Notes related to this hold
                  type:
                  - string
                  - 'null'
                pickup_library_id:
                  description: Internal library identifier for the pickup library
                  type: string
              required:
              - pickup_library_id
              type: object
        description: A JSON object containing informations about the new hold
      responses:
        '201':
          description: Created club hold
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/club_hold_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Hold not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Club not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Hold not allowed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    club_hold_yaml:
      additionalProperties: false
      properties:
        biblio_id:
          description: Internal biblio identifier
          type: integer
        club_hold_id:
          description: Internal club hold identifier
          type: integer
        club_id:
          description: Internal club identifier
          type: integer
        date_created:
          description: Date and time the hold was created
          format: date-time
          type: string
        item_id:
          description: Internal item identifier
          type:
          - string
          - 'null'
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
