openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Identity Providers API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage identity providers
  name: Identity Providers
  x-displayName: Identity providers
paths:
  /auth/identity_providers:
    get:
      tags:
      - Identity Providers
      summary: List configured identity providers
      operationId: listIdentityProviders
      parameters:
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - domains
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of identity providers
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/identity_provider_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Identity Providers
      summary: Add a new identity provider
      operationId: addIdentityProvider
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity_provider_yaml'
        description: 'A JSON object containing OAuth provider parameters.


          The `config` object required attributes depends on the chosen `protocol`


          ## OAuth


          Requires:


          * key

          * secret

          * authorize_url

          * token_url


          ## OIDC


          Requires:


          * key

          * secret

          * well_known_url

          '
      responses:
        '201':
          description: The generated identity provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_provider_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /auth/identity_providers/{identity_provider_id}:
    delete:
      tags:
      - Identity Providers
      summary: Delete identity provider
      operationId: delIdentityProvider
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      responses:
        '204':
          description: Identity provider deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: City not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - Identity Providers
      summary: Get identity provider
      operationId: getIdentityProvider
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - domains
            type: string
      responses:
        '200':
          description: An identity provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_provider_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - Identity Providers
      summary: Update an identity provider
      operationId: updateIdentityProvider
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity_provider_yaml'
        description: 'A JSON object containing OAuth provider parameters.


          The `config` object required attributes depends on the chosen `protocol`


          ## OAuth


          Requires:


          * key

          * secret

          * authorize_url

          * token_url


          ## OIDC


          Requires:


          * key

          * secret

          * well_known_url

          '
      responses:
        '200':
          description: Updated identity provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_provider_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /auth/identity_providers/{identity_provider_id}/domains:
    get:
      tags:
      - Identity Providers
      summary: Get identity provider configured domains
      operationId: listIdentityProviderDomains
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - domains
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: An identity provider
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/identity_provider_domain_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Identity Providers
      summary: Add an identity provider domain
      operationId: addIdentityProviderDomain
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity_provider_domain_yaml'
        description: An identity provider domain object
      responses:
        '201':
          description: Updated identity provider domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_provider_domain_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /auth/identity_providers/{identity_provider_id}/domains/{identity_provider_domain_id}:
    delete:
      tags:
      - Identity Providers
      summary: Delete identity provider
      operationId: delIdentityProviderDomain
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      - name: identity_provider_domain_id
        in: path
        required: true
        description: Identity provider domain internal identifier
        schema:
          type: integer
      responses:
        '204':
          description: identity provider deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: City not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - Identity Providers
      summary: Get identity provider domain
      operationId: getIdentityProviderDomain
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      - name: identity_provider_domain_id
        in: path
        required: true
        description: Identity provider domain internal identifier
        schema:
          type: integer
      responses:
        '200':
          description: An identity provider
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_provider_domain_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - Identity Providers
      summary: Update an identity provider domain
      operationId: updateIdentityProviderDomain
      parameters:
      - name: identity_provider_id
        in: path
        required: true
        description: Identity provider internal identifier
        schema:
          type: integer
      - name: identity_provider_domain_id
        in: path
        required: true
        description: Identity provider domain internal identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/identity_provider_domain_yaml'
        description: An identity provider domain object
      responses:
        '200':
          description: Updated identity provider domain
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/identity_provider_domain_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Object not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    identity_provider_yaml:
      additionalProperties: false
      properties:
        code:
          description: Identity provider code
          type: string
        config:
          description: Configuration
          type: object
        description:
          description: User-oriented description for the provider
          type: string
        domains:
          description: Configured domains for the identity provider
          type:
          - array
          - 'null'
        icon_url:
          description: Icon url
          type:
          - string
          - 'null'
        identity_provider_id:
          description: Internally assigned identity provider identifier
          readOnly: true
          type: integer
        mapping:
          description: Attribute mapping
          type:
          - object
          - 'null'
        matchpoint:
          description: Patron attribute that will be used to match
          enum:
          - email
          - userid
          - cardnumber
          type: string
        protocol:
          description: Authentication protocol
          enum:
          - OAuth
          - OIDC
          - CAS (not implemented)
          - LDAP (not implemented)
          type: string
      required:
      - config
      - code
      - protocol
      type: object
    identity_provider_domain_yaml:
      additionalProperties: false
      properties:
        allow_opac:
          description: If this domain can be used for OPAC login
          type: boolean
        allow_staff:
          description: If this domain can be used for staff login
          type: boolean
        auto_register:
          description: If patrons will be generated on login if required
          type: boolean
        default_category_id:
          description: Internal identifier for the default patron's category
          type:
          - string
          - 'null'
        default_library_id:
          description: Internal identifier for the default library to be assigned to the new patrons
          type:
          - string
          - 'null'
        domain:
          description: Matching domain ('*' used as wildcard)
          type:
          - string
          - 'null'
        identity_provider_domain_id:
          description: Internally assigned identity provider domain identifier
          readOnly: true
          type: integer
        identity_provider_id:
          description: Internally assigned identity provider identifier
          type: integer
        update_on_auth:
          description: If patron data is updated on login
          type: boolean
      required:
      - identity_provider_domain_id
      - domain
      - auto_register
      - update_on_auth
      - default_library_id
      - default_category_id
      - allow_opac
      - allow_staff
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
