openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Vendors API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage vendors for the acquisitions module
  name: Vendors
  x-displayName: Vendors
paths:
  /acquisitions/vendors:
    get:
      tags:
      - Vendors
      summary: List vendors
      operationId: listVendors
      parameters:
      - name: name
        in: query
        required: false
        description: Case insensitive search on vendor name
        schema:
          type: string
      - name: accountnumber
        in: query
        required: false
        description: Case insensitive search on vendor's account number
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - aliases
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of vendors
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/vendor_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Vendor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Vendors
      summary: Add vendor
      operationId: addVendor
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vendor_yaml'
        description: A JSON object representing a vendor
      responses:
        '201':
          description: Vendor added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Vendor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /acquisitions/vendors/{vendor_id}:
    delete:
      tags:
      - Vendors
      summary: Delete vendor
      operationId: deleteVendor
      parameters:
      - name: vendor_id
        in: path
        required: true
        description: Vendor id
        schema:
          type: integer
      responses:
        '204':
          description: Vendor deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Vendor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - Vendors
      summary: Get vendor
      operationId: getVendor
      parameters:
      - name: vendor_id
        in: path
        required: true
        description: Vendor id
        schema:
          type: integer
      responses:
        '200':
          description: A vendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Vendor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - Vendors
      summary: Update vendor
      operationId: updateVendor
      parameters:
      - name: vendor_id
        in: path
        required: true
        description: Vendor id
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/vendor_yaml'
        description: A JSON object representing a vendor
      responses:
        '200':
          description: A vendor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vendor_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Vendor not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /acquisitions/vendors/{vendor_id}/issues:
    get:
      tags:
      - Vendors
      summary: List vendor issues
      operationId: listVendorIssues
      parameters:
      - name: vendor_id
        in: path
        required: true
        description: Vendor id
        schema:
          type: integer
      - name: issue_id
        in: query
        required: false
        description: Case insensitive search on issue's id
        schema:
          type: integer
      - name: vendor_id
        in: query
        required: false
        description: Case insensitive search on vendor's id
        schema:
          type: integer
      - name: type
        in: query
        required: false
        description: Case insensitive search on issue type
        schema:
          type: string
      - name: started_on
        in: query
        required: false
        description: Case insensitive search on issue start date
        schema:
          type: string
      - name: ended_on
        in: query
        required: false
        description: Case insensitive search on issue end date
        schema:
          type: string
      - name: notes
        in: query
        required: false
        description: Case insensitive search on issue's notes
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of issues
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/vendor_issue_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    vendor_alias_yaml:
      additionalProperties: false
      properties:
        alias:
          description: The alias
          type: string
        alias_id:
          description: Internal ID for the extended attribute
          type: integer
        vendor_id:
          description: ID of the vendor
          type: integer
      required:
      - alias
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    vendor_yaml:
      additionalProperties: false
      properties:
        accountnumber:
          description: Vendor account number
          type:
          - string
          - 'null'
        active:
          description: Is this vendor active
          type:
          - boolean
          - 'null'
        address1:
          description: Vendor physical address (line 1)
          type:
          - string
          - 'null'
        address2:
          description: Vendor physical address (line 2)
          type:
          - string
          - 'null'
        address3:
          description: Vendor physical address (line 3)
          type:
          - string
          - 'null'
        address4:
          description: Vendor physical address (line 4)
          type:
          - string
          - 'null'
        aliases:
          description: List of aliases
          items:
            $ref: '#/components/schemas/vendor_alias_yaml'
          type: array
        deliverytime:
          description: Expected delivery time (in days)
          type:
          - integer
          - 'null'
        discount:
          description: Default discount rate for items ordered from this vendor
          type:
          - number
          - 'null'
        external_id:
          description: External id
          type:
          - string
          - 'null'
        fax:
          description: Vendor fax number
          type:
          - string
          - 'null'
        gst:
          description: Is the library taxed when buying from this vendor
          type:
          - boolean
          - 'null'
        id:
          description: internally assigned vendor identifier
          readOnly: true
          type: integer
        invoice_currency:
          description: Invoice prices currency
          type:
          - string
          - 'null'
        invoice_includes_gst:
          description: Invoice prices include taxes
          type:
          - boolean
          - 'null'
        list_currency:
          description: List prices currency
          type:
          - string
          - 'null'
        list_includes_gst:
          description: List prices include taxes
          type:
          - boolean
          - 'null'
        name:
          description: Vendor name
          type:
          - string
        notes:
          description: Vendor notes
          type:
          - string
          - 'null'
        phone:
          description: Vendor phone number
          type:
          - string
          - 'null'
        postal:
          description: Vendor postal address
          type:
          - string
          - 'null'
        tax_rate:
          description: Default tax rate for items ordered from this vendor
          type:
          - number
          - 'null'
        type:
          description: Type of vendor
          type:
          - string
          - 'null'
        url:
          description: Vendor web address
          type:
          - string
          - 'null'
      required:
      - name
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    vendor_issue_yaml:
      additionalProperties: false
      properties:
        _strings:
          description: A list of stringified coded values
          type:
          - object
          - 'null'
        ended_on:
          description: End date
          format: date
          type:
          - string
          - 'null'
        issue_id:
          description: internally assigned vendor identifier
          readOnly: true
          type: integer
        notes:
          description: Notes
          type:
          - string
          - 'null'
        started_on:
          description: Start date
          format: date
          type:
          - string
          - 'null'
        type:
          description: Type of the issue
          type:
          - string
          - 'null'
        vendor_id:
          description: ID of the vendor
          type: integer
      type: object
