openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Item Types API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage item types
  name: Item Types
  x-displayName: Item Types
paths:
  /item_types:
    get:
      tags:
      - Item Types
      summary: List item types
      operationId: listItemTypes
      parameters:
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - translated_descriptions
            type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of item types
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_type_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    item_type_yaml:
      additionalProperties: false
      properties:
        automatic_checkin:
          description: Controls if automatic checkin is enabled for items of this type
          type: boolean
        checkin_message:
          description: Message that is displayed when an item with the given item type is checked in
          type:
          - string
          - 'null'
        checkin_message_type:
          description: Type (CSS class) for the checkin_message, can be 'alert' or 'message'
          type:
          - string
          - 'null'
        daily_rental_charge:
          description: The amount charged for each day between checkout date and due date
          type:
          - number
          - 'null'
        daily_rental_charge_calendar:
          description: Controls if the daily rental fee is calculated directly or using finesCalendar
          type: boolean
        default_replacement_cost:
          description: Default replacement cost
          type:
          - number
          - 'null'
        description:
          description: A plain text explanation of the item type
          type: string
        hide_in_opac:
          description: Hide the item type from the search options in OPAC
          type: boolean
        hourly_rental_charge:
          description: The amount charged for each hour between checkout date and due date
          type:
          - number
          - 'null'
        hourly_rental_charge_calendar:
          description: Controls if the hourly rental fee is calculated directly or using finesCalendar
          type: boolean
        image_url:
          description: URL for the item type icon
          type:
          - string
          - 'null'
        item_type_id:
          description: Unique key, a code associated with the item type
          readOnly: true
          type: string
        not_for_loan_status:
          description: If items of this type are not for loan
          type: boolean
        parent_type:
          description: Unique key, a code associated with the parent item type
          type:
          - string
          - 'null'
        process_fee:
          description: Default text be recorded in the column note when the processing fee is applied
          type:
          - number
          - 'null'
        rentalcharge:
          description: The amount charged when this item is checked out/issued
          type:
          - number
          - 'null'
        searchcategory:
          description: Group this item type with others with the same value on OPAC search options
          type:
          - string
          - 'null'
        sip_media_type:
          description: SIP2 protocol media type for this item type
          type:
          - string
          - 'null'
        summary:
          description: Information from the summary field, may include HTML
          type:
          - string
          - 'null'
        translated_descriptions:
          description: Translations of description plain text (x-koha-embed)
          items:
            $ref: '#/components/schemas/item_type_translated_description_yaml'
          type: array
      required:
      - item_type_id
      type: object
    item_type_translated_description_yaml:
      additionalProperties: false
      properties:
        lang:
          description: Language identifier
          type: string
        translation:
          description: Translated plain text
          type: string
      required:
      - lang
      - translation
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
