openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Transfer Limits API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage transfer limits
  name: Transfer Limits
  x-displayName: Transfer limits
paths:
  /transfer_limits:
    get:
      tags:
      - Transfer Limits
      summary: List transfer limits
      description: This resource returns a list of existing transfer limits.
      operationId: listTransferLimits
      parameters:
      - name: to_library_id
        in: query
        required: false
        description: Search on to_library_id
        schema:
          type: string
      - name: from_library_id
        in: query
        required: false
        description: Search on from_library_id
        schema:
          type: string
      - name: item_type
        in: query
        required: false
        description: Search on item_type
        schema:
          type: string
      - name: collection_code
        in: query
        required: false
        description: Search on collection_code
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of transfer limits
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/transfer_limit_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Transfer Limits
      summary: Add a transfer limit
      description: This resource accepts a new transfer limit and creates it if it does not already exist.
      operationId: addTransferLimit
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/transfer_limit_yaml'
        description: A JSON object containing information about a new transfer limit
      responses:
        '201':
          description: Transfer limit added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/transfer_limit_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /transfer_limits/batch:
    delete:
      tags:
      - Transfer Limits
      summary: Batch delete transfer limits
      description: This endpoint works just like the POST version, except it deletes transfer in batch rather than creating them.
      operationId: batchDeleteTransferLimits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                collection_code:
                  description: Authorized value for the collection code associated with this limit
                  type:
                  - string
                  - 'null'
                from_library_id:
                  description: Internal library id for which library the item is coming from
                  type: string
                item_type:
                  description: Itemtype defining the type for this limi
                  type:
                  - string
                  - 'null'
                to_library_id:
                  description: Internal library id for which library the item is going to
                  type: string
              type: object
        description: A JSON object containing information about new transfer limits.
      responses:
        '204':
          description: Transfer limits deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Library not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Transfer Limits
      summary: Batch add transfer limits
      description: 'This resource batch creates new transfer limits based on the given data.

        Transfer limits can be defined based on `collection_code` or `item_type`. The endpoint only accepts one at a time, and which one is used will depend on the value of the `BranchTransferLimitsType` system preference.

        For example, if the paramters `to_library_id: ''BranchA''` and `item_type: ''BOOK''` are passed in new transfer limits for `BOOK`s will be created, with one transfer limit each for all the branches defined in Koha. Given 4 branches, 3 limits would be created:

        * to_library_id: ''BranchA'', from_library_id: ''BranchB'', item_type: ''BOOK'' * to_library_id: ''BranchA'', from_library_id: ''BranchC'', item_type: ''BOOK'' * to_library_id: ''BranchA'', from_library_id: ''BranchD'', item_type: ''BOOK''


        The body of the query would look like

        ``` {

        ''to_library_id'': ''BranchA'',

        ''item_type'': ''BOOK''


        } ```

        As another example, imagine we have an itemtype that is never supposed to be transferred to another library. If we call that itemtype `LOCAL_ONLY` we would need to just pass `item_type: ''LOCAL_ONLY''`, which would create transfer limits for all libraries, meaning those items would never be allowed to transfer to another library. The body of the query would look like

        ``` {

        ''item_type'': ''LOCAL_ONLY''

        } ```'
      operationId: batchAddTransferLimits
      requestBody:
        required: true
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                collection_code:
                  description: Authorized value for the collection code associated with this limit
                  type:
                  - string
                  - 'null'
                from_library_id:
                  description: Internal library id for which library the item is coming from
                  type: string
                item_type:
                  description: Itemtype defining the type for this limi
                  type:
                  - string
                  - 'null'
                to_library_id:
                  description: Internal library id for which library the item is going to
                  type: string
              type: object
        description: A JSON object containing information about new transfer limits.
      responses:
        '201':
          description: A list of transfer limits
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/transfer_limit_yaml'
                type: array
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /transfer_limits/{limit_id}:
    delete:
      tags:
      - Transfer Limits
      summary: Delete transfer limit
      description: This resource deletes a transfer limit for the given limit id
      operationId: deleteTransferLimit
      parameters:
      - name: limit_id
        in: path
        required: true
        description: Internal transfer limit identifier
        schema:
          type: string
      responses:
        '204':
          description: Transfer limit deleted
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Library not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    transfer_limit_yaml:
      additionalProperties: false
      properties:
        collection_code:
          description: Authorized value for the collection code associated with this limit
          type:
          - string
          - 'null'
        from_library_id:
          description: Internal library id for which library the item is coming from
          type: string
        item_type:
          description: Itemtype defining the type for this limi
          type:
          - string
          - 'null'
        limit_id:
          description: Internal transfer limit identifier
          type: integer
        to_library_id:
          description: Internal library id for which library the item is going to
          type: string
      required:
      - to_library_id
      - from_library_id
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
