openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Sushi Service API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Retrieve SUSHI service data
  name: erm_sushi_service
  x-displayName: ERM SUSHI services
paths:
  /erm/sushi_service:
    get:
      tags:
      - erm_sushi_service
      summary: Get the details for a sushi service from the counter registry
      operationId: getSushiService
      parameters:
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A sushi service
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_sushi_service_yaml'
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    erm_sushi_service_yaml:
      additionalProperties: false
      properties:
        api_key_info:
          description: api_key_info of the sushi service
          type:
          - string
          - 'null'
        api_key_required:
          description: is api_key required
          type:
          - boolean
          - 'null'
        contact:
          description: contact for the sushi service
          items:
            type: object
          type: array
        counter_release:
          description: counter_release of the sushi service
          type:
          - string
          - 'null'
        credentials_auto_expire:
          description: do the credentials expire
          type:
          - boolean
          - 'null'
        credentials_auto_expire_info:
          description: credentials_auto_expire_info of the sushi service
          type:
          - string
          - 'null'
        customer_id_info:
          description: customer_id_info of the sushi service
          type:
          - string
          - 'null'
        customizations_in_place:
          description: are any customizations in place
          type:
          - boolean
          - 'null'
        customizations_info:
          description: customizations_info of the sushi service
          type:
          - string
          - 'null'
        data_host:
          description: data_host of the sushi service
          type:
          - string
          - 'null'
        id:
          description: internally assigned identifier
          type: string
        ip_address_authorization:
          description: is ip address auth required
          type:
          - boolean
          - 'null'
        ip_address_authorization_info:
          description: ip_address_authorization_info of the sushi service
          type:
          - string
          - 'null'
        migrations:
          description: migrations for the sushi service
          items:
            type: object
          type: array
        notification_count:
          description: notification count
          type:
          - integer
          - 'null'
        notifications_url:
          description: notifications_url of the sushi service
          type:
          - string
          - 'null'
        platform_attr_required:
          description: is platform_attr required
          type:
          - boolean
          - 'null'
        platform_specific_info:
          description: platform_specific_info of the sushi service
          type:
          - string
          - 'null'
        request_volume_limits_applied:
          description: are limits applied
          type:
          - boolean
          - 'null'
        request_volume_limits_info:
          description: request_volume_limits_info of the sushi service
          type:
          - string
          - 'null'
        requestor_id_info:
          description: requestor_id_info of the sushi service
          type:
          - string
          - 'null'
        requestor_id_required:
          description: is requestor_id required
          type:
          - boolean
          - 'null'
        url:
          description: url of the sushi service
          type:
          - string
          - 'null'
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
