openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Erm Default Usage Reports API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage ERM saved reports
  name: erm_default_usage_reports
  x-displayName: ERM saved reports
paths:
  /erm/default_usage_reports:
    get:
      tags:
      - erm_default_usage_reports
      summary: List default_usage_reports
      operationId: listErmDefaultUsageReports
      parameters:
      - name: erm_default_usage_report_id
        in: query
        required: false
        description: Case insensitive search on erm_default_usage_report_id
        schema:
          type: integer
      - name: report_name
        in: query
        required: false
        description: Case insensitive search on default_usage_report report_name
        schema:
          type: integer
      - name: report_url_params
        in: query
        required: false
        description: Case insensitive search on default_usage_report report_url_params
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of default_usage_reports
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_default_usage_report_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - erm_default_usage_reports
      summary: Add default_usage_report
      operationId: addErmDefaultUsageReports
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/erm_default_usage_report_yaml'
        description: A JSON object containing information about the new default_usage_report
      responses:
        '201':
          description: A successfully created default_usage_report
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/erm_default_usage_report_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '413':
          description: Payload too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /erm/default_usage_reports/{erm_default_usage_report_id}:
    delete:
      tags:
      - erm_default_usage_reports
      summary: Delete default_usage_report
      operationId: deleteERMDefaultUsageReports
      parameters:
      - name: erm_default_usage_report_id
        in: path
        required: true
        description: ERM default_usage_report internal identifier
        schema:
          type: integer
      responses:
        '204':
          description: default_usage_report deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: ressource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: conflict in deleting resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'internal server error. possible `error_code` attribute values:

            * `internal_server_error`'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    erm_default_usage_report_yaml:
      additionalProperties: false
      properties:
        erm_default_usage_report_id:
          description: internally assigned default_usage_report identifier
          readOnly: true
          type: integer
        report_name:
          description: report_name
          type: string
        report_url_params:
          description: report_url_params
          type: string
      required:
      - report_name
      - report_url_params
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
