openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST Items API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Manage items
  name: Items
  x-displayName: Items
paths:
  /items:
    get:
      tags:
      - Items
      summary: List items
      operationId: listItems
      parameters:
      - name: external_id
        in: query
        required: false
        description: Search on the item's barcode
        schema:
          type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            - biblio
            type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of item
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /items/{item_id}:
    delete:
      tags:
      - Items
      summary: Delete item
      operationId: deleteItem
      parameters:
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      responses:
        '204':
          description: Deleted item
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: "Conflict. Possible `error_code` attribute values:\n\n  * book_on_loan: The item is checked out\n  * book_reserved: Waiting or in-transit hold for the item\n  * last_item_for_hold: The item is the last one on a record on which a biblio-level hold is placed\n  * linked_analytics: The item has linked analytic records\n  * not_same_branch: The item is blocked by independent branches\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - Items
      summary: Get item
      operationId: getItem
      parameters:
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            type: string
      responses:
        '200':
          description: An item
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /items/{item_id}/bookings:
    get:
      tags:
      - Items
      summary: Get existing bookings for an item
      operationId: getItemBookings
      parameters:
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: Item bookings
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/booking_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Item not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /items/{item_id}/bundled_items:
    get:
      tags:
      - Items
      summary: List bundled items
      operationId: bundledItems
      parameters:
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      - name: external_id
        in: query
        required: false
        description: Search on the item's barcode
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - biblio
            - checkout
            - return_claims
            - return_claim
            - return_claim.patron
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of item
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - Items
      summary: Add item to bundle
      operationId: addToBundle
      parameters:
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/bundle_link_yaml'
        description: A JSON object containing information about the new bundle link
      responses:
        '201':
          description: A successfully created bundle link
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /items/{item_id}/bundled_items/{bundled_item_id}:
    delete:
      tags:
      - Items
      summary: Remove item from bundle
      operationId: removeFromBundle
      parameters:
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      - name: bundled_item_id
        in: path
        required: true
        description: Internal identifier for the bundled item
        schema:
          type: string
      responses:
        '204':
          description: Bundle link deleted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Resource not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict in creating resource
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /items/{item_id}/pickup_locations:
    get:
      tags:
      - Items
      summary: Get valid pickup locations for an item
      operationId: getItemPickupLocations
      parameters:
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      - name: patron_id
        in: query
        required: true
        description: Internal patron identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: Item pickup locations
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/library_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /public/biblios/{biblio_id}/items:
    get:
      tags:
      - Items
      operationId: getBiblioItemsPublic
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of the items attached to the record
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
      summary: Get biblio items public
      x-summary-source: derived
  /public/items:
    get:
      tags:
      - Items
      summary: List items publically visible
      operationId: listItemsPublic
      parameters:
      - name: external_id
        in: query
        required: false
        description: Search on the item's barcode
        schema:
          type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            - biblio
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of item
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    item_yaml:
      additionalProperties: false
      properties:
        _strings:
          description: A return claims object if one exists that's unresolved
          type:
          - object
          - 'null'
        acquisition_date:
          description: The date the item was acquired
          format: date
          type:
          - string
          - 'null'
        acquisition_source:
          description: Information about the acquisition source (it is not really a vendor id)
          type:
          - string
          - 'null'
        biblio: {}
        biblio_id:
          description: Internal identifier for the parent bibliographic record
          type: integer
        bookable:
          description: Allow bookings on this item.
          type: boolean
        call_number_sort:
          description: '?'
          type:
          - string
          - 'null'
        call_number_source:
          description: Classification source used on this item
          type:
          - string
          - 'null'
        callnumber:
          description: Call number for this item
          type:
          - string
          - 'null'
        checked_out_date:
          description: Defines if item is checked out (NULL for not checked out, and checkout date for checked out)
          format: date
          type:
          - string
          - 'null'
        checkouts_count:
          description: Number of times this item has been checked out/issued
          type:
          - integer
          - 'null'
        coded_location_qualifier:
          description: Coded location qualifier
          type:
          - string
          - 'null'
        collection_code:
          description: Authorized value for the collection code associated with this item
          type:
          - string
          - 'null'
        copy_number:
          description: Copy number
          type:
          - string
          - 'null'
        damaged_date:
          description: The date and time an item was last marked as damaged, NULL if not damaged
          type:
          - string
          - 'null'
        damaged_status:
          description: Authorized value defining this item as damaged
          type: integer
        effective_item_type_id:
          description: Effective itemtype defining the type for this item_id
          type:
          - string
          - 'null'
        effective_not_for_loan_status:
          description: Authorized value defining why this item is not for not_for_loan_status
          type: integer
        exclude_from_local_holds_priority:
          description: Exclude this item from local holds priority.
          type: boolean
        extended_subfields:
          description: Additional 952 subfields in XML format
          type:
          - string
          - 'null'
        external_id:
          description: The item's barcode
          type:
          - string
          - 'null'
        holding_library_id:
          description: Library that is currently in possession item
          type:
          - string
          - 'null'
        holds_count:
          description: Number of times this item has been placed on hold/reserved
          type:
          - integer
          - 'null'
        home_library_id:
          description: Internal library id for the library the item belongs to
          type:
          - string
          - 'null'
        internal_notes:
          description: Non-public notes on this item
          type:
          - string
          - 'null'
        inventory_number:
          description: Inventory number
          type:
          - string
          - 'null'
        item_id:
          description: Internal item identifier
          type: integer
        item_type_id:
          description: Itemtype defining the type for this item
          type:
          - string
          - 'null'
        last_checkout_date:
          description: The date the item was last checked out
          format: date
          type:
          - string
          - 'null'
        last_seen_date:
          description: The date the item barcode was last scanned
          format: date-time
          type:
          - string
          - 'null'
        location:
          description: Authorized value for the shelving location for this item
          type:
          - string
          - 'null'
        lost_date:
          description: The date and time an item was last marked as lost, NULL if not lost
          format: date-time
          type:
          - string
          - 'null'
        lost_status:
          description: Authorized value defining this item as lost
          type: integer
        materials_notes:
          description: Materials specified
          type:
          - string
          - 'null'
        new_status:
          description: '''new'' value, whatever free-text information.'
          type:
          - string
          - 'null'
        not_for_loan_status:
          description: Authorized value defining why this item is not for loan
          type: integer
        permanent_location:
          description: Linked to the CART and PROC temporary locations feature, stores the permanent shelving location
          type:
          - string
          - 'null'
        public_notes:
          description: Public notes on this item
          type:
          - string
          - 'null'
        purchase_price:
          description: Purchase price
          type:
          - number
          - 'null'
        renewals_count:
          description: Number of times this item has been renewed
          type:
          - integer
          - 'null'
        replacement_price:
          description: Cost the library charges to replace the item (e.g. if lost)
          type:
          - number
          - 'null'
        replacement_price_date:
          description: The date the replacement price is effective from
          format: date
          type:
          - string
          - 'null'
        restricted_status:
          description: Authorized value defining use restrictions for this item
          type:
          - integer
          - 'null'
        return_claim:
          type:
          - object
          - 'null'
        return_claims:
          description: An array of all return claims associated with this item
          type: array
        serial_issue_number:
          description: serial enumeration/chronology for the item
          type:
          - string
          - 'null'
        timestamp:
          description: Date and time this item was last altered
          format: date-time
          type: string
        uri:
          description: URL for the item
          type:
          - string
          - 'null'
        withdrawn:
          description: Authorized value defining this item as withdrawn
          type: integer
        withdrawn_date:
          description: The date and time an item was last marked as withdrawn, NULL if not withdrawn
          format: date-time
          type:
          - string
          - 'null'
      type: object
    booking_yaml:
      additionalProperties: false
      properties:
        biblio:
          description: Embedable biblio representation
          type: object
        biblio_id:
          description: Internal identifier for the parent bibliographic record
          type: integer
        booking_id:
          description: Internal booking identifier
          type: integer
        end_date:
          description: Start date and time of this booking
          format: date-time
          type: string
        item:
          description: Embedable item representation
          type:
          - object
          - 'null'
        item_id:
          description: Internal item identifier
          type:
          - integer
          - 'null'
        patron:
          description: Embedable patron representation
          type:
          - object
          - 'null'
        patron_id:
          description: Internal patron identifier
          type: integer
        start_date:
          description: Start date and time of this booking
          format: date-time
          type: string
      required:
      - biblio_id
      - item_id
      - patron_id
      - start_date
      - end_date
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    bundle_link_yaml:
      additionalProperties: false
      properties:
        external_id:
          description: Item barcode
          type:
          - string
          - 'null'
        force_checkin:
          type:
          - boolean
          - 'null'
        ignore_holds:
          type:
          - boolean
          - 'null'
        item_id:
          description: Internal item identifier
          type:
          - integer
          - 'null'
      type: object
    library_yaml:
      additionalProperties: false
      properties:
        address1:
          description: the first address line of the library
          type:
          - string
          - 'null'
        address2:
          description: the second address line of the library
          type:
          - string
          - 'null'
        address3:
          description: the third address line of the library
          type:
          - string
          - 'null'
        cash_registers:
          description: The library's defined cash registers (x-koha-embed)
          type:
          - array
          - 'null'
        city:
          description: the city or province of the library
          type:
          - string
          - 'null'
        country:
          description: the county of the library
          type:
          - string
          - 'null'
        desks:
          description: The library's defined desks (x-koha-embed)
          type:
          - array
          - 'null'
        email:
          description: the primary email address of the library
          type:
          - string
          - 'null'
        fax:
          description: the fax number of the library
          type:
          - string
          - 'null'
        geolocation:
          description: geolocation of your library
          type:
          - string
          - 'null'
        illemail:
          description: the ILL staff email address of the library
          type:
          - string
          - 'null'
        ip:
          description: the IP address for your library or branch
          type:
          - string
          - 'null'
        library_id:
          description: internally assigned library identifier
          maxLength: 10
          minLength: 1
          type: string
        marc_org_code:
          description: MARC Organization Code, see http://www.loc.gov/marc/organizations/orgshome.html, when empty defaults to syspref MARCOrgCode
          type:
          - string
          - 'null'
        name:
          description: Printable name of library
          type: string
        needs_override:
          description: If the library needs an override to act as pickup location for a hold
          type: boolean
        notes:
          description: notes related to your library or branch
          type:
          - string
          - 'null'
        phone:
          description: the primary phone of the library
          type:
          - string
          - 'null'
        pickup_location:
          description: If the library can act as a pickup location
          type: boolean
        postal_code:
          description: the postal code of the library
          type:
          - string
          - 'null'
        public:
          description: If the library is visible to the public
          type: boolean
        reply_to_email:
          description: the email to be used as a Reply-To
          type:
          - string
          - 'null'
        return_path_email:
          description: the email to be used as Return-Path
          type:
          - string
          - 'null'
        smtp_server:
          description: The library effective SMTP server
          type:
          - object
          - 'null'
        state:
          description: the reqional state of the library
          type:
          - string
          - 'null'
        url:
          description: the URL for your library or branch's website
          type:
          - string
          - 'null'
      required:
      - library_id
      - name
      type: object
