openapi: 3.0.3
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: "## Background\n\nThe API supports two sets of endpoints, one targetted at library staff and the other at at library users.\n\nThose endpoints under the `/public` path are aimed at delivering functionality tailored to library users and offer\na more restricted set of functions, overrides and data in thier responses for data privacy and library policy\nreasons. Many of these endpoints do not require authentication for fetching public data, though an authenticated\nsession will expose additional options and allow users to see more data where it is part of their own record.\n\nAll other endpoints are targetted at the staff interface level and allow for additional functionality and a more\nunrestricted view of data.  These endpoints, however, have a level of redaction built in for resources that the\napi consumer should not have access to.  For example, user data for users who do not belong to the same library\nor library group of your api user will be reduced to just minimum neccesary for a valid response. Object keys will\nbe consistent for all responses, but their values may be removed depending on access.\n\n## Authentication\n\nThe API supports the following authentication mechanisms\n\n* HTTP Basic authentication\n* OAuth2 (client credentials grant)\n* Cookie-based\n\nBoth _Basic authentication_ and the _OAuth2_ flow, need to be enabled\nby system preferences.\n\n## Authorization\n\nThe API uses existing user profiles to restrict access to resources based on user permissions and the library the\nAPI user is assigned to.  This may result, at times, in resources being returned in a redacted form with all keys\npresent but sensative values nulled.\n\nWe do not yet support OAuth Scopes or the Authorization Code grant flow.\n\n## Errors\n\nThe API uses standard HTTP status codes to indicate the success or failure\nof the API call. The body of the response will be JSON in the following format:\n\n```\n{\n  \"error\": \"Current settings prevent the passed due date to be applied\",\n  \"error_code\": \"invalid_due_date\"\n}\n```\n\nNote: Some routes might offer additional attributes in their error responses but that\"s\nsubject to change and thus not documented.\n\n## Filtering responses\n\nThe API allows for some advanced response filtering using a JSON based query syntax. The\nquery can be added to the requests:\n\n* as a query parameter `q=`\n* in the request body\n\nFor simple field equality matches we can use `{ \"fieldname\": \"value\" }` where the fieldname\nmatches one of the fields as described in the particular endpoints response object.\n\nWe can refine that with more complex matching clauses by nesting a the clause into the\nobject; `{ \"fieldname\": { \"clause\": \"value\" } }`.\n\nAvailable matching clauses include `=`, `!=`, `<`, `>`, `<=`, `>=` and `-not`. We also support `-like`\nand `-not_like` string comparisons with `%` used to denote wildcards, thus you can pass\n`{ \"fieldname\": { \"-like\": \"value%\" } }` to do a 'starts with' string match for example.\n\nWe can filter on multiple fields by adding them to the JSON respresentation. Adding at `HASH`\nlevel will result in an \"AND\" query, whilst combinding them in an `ARRAY` will result in an\n\"OR\" query: `{ \"field1\": \"value2\", \"field2\": \"value2\" }` will filter the response to only those\nresults with both field1 containing value2 AND field2 containing value2 for example.\n\nThere is a collection of special operators also available to you, including:\n\n* `-in` - Expects an array of values to perform an OR match against\n* `-not_in` - Expects an array of values to perform a NOR match against\n* `-between` - Expects two values which the value of the field is expected to fall between\n* `-not_between` - Expects two values which the value of the field is expected to fall outside of\n* `-ident` - Expects a second field name to match the two field values against\n* `-regexp` - Expects a perl compatible regular expression for which the value should match\n\nLogic and nesting is also supported and you may use `-and` and `-or` to change the logic of an ARRAY\nor HASH as described above.\n\nAdditionally, if you are requesting related data be embedded into the response one can query\non the related data using dot notation in the field names.\n\n### Examples\n\nThe following request would return any patron with firstname \"Henry\" and lastname \"Acevedo\";\n\n`curl -u koha:koha --request GET \"http://127.0.0.1:8081/api/v1/patrons/\" --data-raw '{ \"surname\": \"Acevedo\", \"firstname\": \"Henry\" }'`\n\nThe following request would return any patron whose lastname begins with \"Ace\";\n\n`curl -u koha:koha --request GET \"http://127.0.0.1:8081/api/v1/patrons/\" --data-raw '{ \"surname\": { \"-like\": \"Ace%\" }'`\n\nThe following request would return any patron whose lastname is \"Acevedo\" OR \"Bernardo\"\n\n`curl -u koha:koha --request GET \"http://127.0.0.1:8081/api/v1/patrons/\" --data-raw '{ \"surname\": [ \"Acevedo\", \"Bernardo\" ] }'`\n\nThe following request embeds the related patron extended attributes data and filters on it.\n\n`curl -u koha:koha =--request GET 'http://127.0.0.1:8081/api/v1/patrons/' --header 'x-koha-embed: extended_attributes' --data-raw '{ \"extended_attributes.code\": \"internet\", \"extended_attributes.attribute\": \"1\" }'`\n\n## Special headers\n\n### x-koha-embed\n\nThis optional header allows the api consumer to request additional related data\nto be returned in the api response.  It also allows for cross referencing in the\nqueries as described above. It accepts a comma delimited list of relation names.\n\nRelations may on occasion also support dot delimited nesting to allow traversal.\n\n### x-koha-library\n\nThis optional header should be passed to give your api request a library\ncontext; If it is not included in the request, then the request context\nwill default to using your api comsumer\"s assigned home library.\n"
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST 2fa biblios API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: 'Manage bibliographic records

    '
  name: biblios
  x-displayName: Biblios
paths:
  /biblios:
    get:
      tags:
      - biblios
      summary: List biblios
      operationId: listBiblio
      parameters:
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of biblios
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - biblios
      summary: Add biblio
      description: 'Add a bibliographic record to Koha. An optional `x-framework-id`

        may be passed to specify the cataloguing framework to be used (instead

        of the default).


        The request body is expected to contain a MARC record in the format specified in

        the `Content-type` header you pass. Possible values for this header and the corresponding

        record formats expected are listed below:


        * application/marcxml+xml: MARCXML

        * application/marc-in-json: MARC-in-JSON

        * application/marc: Raw USMARC binary data

        '
      operationId: addBiblio
      parameters:
      - name: x-framework-id
        in: header
        required: false
        description: Framework id. Use when content type is not application/json
        schema:
          type: string
      - name: x-record-schema
        in: header
        required: false
        description: March schema. One of MARC21 or UNIMARC
        schema:
          type: string
          enum:
          - MARC21
          - UNIMARC
      - name: x-confirm-not-duplicate
        in: header
        required: false
        description: Confirm the posted element is not a duplicate
        schema:
          type: integer
      responses:
        '200':
          description: A biblio
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}:
    delete:
      tags:
      - biblios
      summary: Delete biblio
      operationId: deleteBiblio
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      responses:
        '204':
          description: Biblio deleted
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Unable to perform action on biblio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    get:
      tags:
      - biblios
      summary: Get biblio
      operationId: getBiblio
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      responses:
        '200':
          description: A biblio
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    put:
      tags:
      - biblios
      summary: Update biblio
      description: 'Updates a bibliographic record to Koha. An optional `x-framework-id`

        may be passed, to specify the cataloguing framework to be used (instead

        of the default).


        The request body is expected to contain a MARC record in the format specified by

        the `Content-type` header passed. Possible values for this headers and the corresponding

        record formats expected are listed below:


        * application/marcxml+xml: MARCXML

        * application/marc-in-json: MARC-in-JSON

        * application/marc: Raw USMARC binary data

        '
      operationId: updateBiblio
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      - name: x-framework-id
        in: header
        required: false
        description: Framework id. Use when content type is not application/json
        schema:
          type: string
      - name: x-record-schema
        in: header
        required: false
        description: March schema. One of MARC21 or UNIMARC
        schema:
          type: string
          enum:
          - MARC21
          - UNIMARC
      - name: x-confirm-not-duplicate
        in: header
        required: false
        description: Confirm the posted element is not a duplicate
        schema:
          type: integer
      responses:
        '200':
          description: A biblio
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}/items:
    get:
      tags:
      - biblios
      summary: Get items for a biblio
      operationId: getBiblioItems
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            type: string
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-request-id
        in: header
        required: false
        description: Request id header
        schema:
          type: integer
      - name: bookable
        in: query
        required: false
        description: Limit to items that are bookable
        schema:
          type: boolean
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of the items attached to the record
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
    post:
      tags:
      - biblios
      summary: Add an item for a biblio
      operationId: addBiblioItem
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/item_yaml'
        description: A JSON object containing information about the new item
      responses:
        '201':
          description: Item added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}/items/{item_id}:
    put:
      tags:
      - biblios
      summary: Update an item for a biblio
      operationId: updateBiblioItem
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      - name: item_id
        in: path
        required: true
        description: Internal item identifier
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/item_yaml'
        description: A JSON object containing information about the item
      responses:
        '200':
          description: Item updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/item_yaml'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}/merge:
    post:
      tags:
      - biblios
      summary: Merge Biblios
      operationId: mergeBiblios
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Bilblionumber
        schema:
          type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/merge_biblios_yaml'
        description: JSON Object with params and an optional marc record in MARC-in-JSON format
      responses:
        '200':
          description: The merge result as a biblio record
        '400':
          description: Bad request
          content:
            application/marc-in-json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/marc-in-json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/marc-in-json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/marc-in-json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: Internal server error
          content:
            application/marc-in-json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/marc-in-json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/marc-in-json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /biblios/{biblio_id}/pickup_locations:
    get:
      tags:
      - biblios
      summary: Get valid pickup locations for a biblio
      operationId: getBiblioPickupLocations
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      - name: patron_id
        in: query
        required: true
        description: Internal patron identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: Biblio pickup locations
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/library_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /public/biblios/{biblio_id}:
    get:
      tags:
      - biblios
      summary: Get biblio (public)
      operationId: getBiblioPublic
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      responses:
        '200':
          description: A biblio
        '400':
          description: Bad request
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '406':
          description: Not acceptable
          content:
            application/marcxml+xml:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/marcxml+xml:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /public/biblios/{biblio_id}/items:
    get:
      tags:
      - biblios
      operationId: getBiblioItemsPublic
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      - name: _match
        in: query
        required: false
        description: Matching criteria
        schema:
          type: string
          enum:
          - contains
          - exact
          - starts_with
          - ends_with
      - name: _order_by
        in: query
        required: false
        description: Sorting criteria
        schema:
          type: array
          items:
            type: string
      - name: _page
        in: query
        required: false
        description: Page number, for paginated object listing
        schema:
          type: integer
      - name: _per_page
        in: query
        required: false
        description: Page size, for paginated object listing
        schema:
          type: integer
      - name: q
        in: query
        required: false
        description: Query filter sent as a request parameter
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
      - name: x-koha-embed
        in: header
        required: false
        description: Embed list sent as a request header
        schema:
          type: array
          items:
            enum:
            - +strings
            type: string
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
        description: Query filter sent through request"s body
      responses:
        '200':
          description: A list of the items attached to the record
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/item_yaml'
                type: array
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '406':
          description: Not acceptable
          content:
            application/json:
              schema:
                description: Accepted content-types
                items:
                  type: string
                type: array
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /public/biblios/{biblio_id}/ratings:
    post:
      tags:
      - biblios
      summary: set biblio rating (public)
      operationId: setBiblioRating
      parameters:
      - name: biblio_id
        in: path
        required: true
        description: Record internal identifier
        schema:
          type: integer
      requestBody:
        required: false
        content:
          application/json:
            schema:
              additionalProperties: false
              properties:
                rating:
                  description: the rating
                  type:
                  - integer
                  - 'null'
              required:
              - rating
              type: object
        description: A JSON object containing rating information
      responses:
        '200':
          description: Rating set
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  average:
                    description: average rating
                    type: number
                  count:
                    description: number of ratings
                    type: integer
                  rating:
                    description: user's rating
                    type:
                    - number
                    - 'null'
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Authentication required
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Biblio not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
    library_yaml:
      additionalProperties: false
      properties:
        address1:
          description: the first address line of the library
          type:
          - string
          - 'null'
        address2:
          description: the second address line of the library
          type:
          - string
          - 'null'
        address3:
          description: the third address line of the library
          type:
          - string
          - 'null'
        cash_registers:
          description: The library's defined cash registers (x-koha-embed)
          type:
          - array
          - 'null'
        city:
          description: the city or province of the library
          type:
          - string
          - 'null'
        country:
          description: the county of the library
          type:
          - string
          - 'null'
        desks:
          description: The library's defined desks (x-koha-embed)
          type:
          - array
          - 'null'
        email:
          description: the primary email address of the library
          type:
          - string
          - 'null'
        fax:
          description: the fax number of the library
          type:
          - string
          - 'null'
        geolocation:
          description: geolocation of your library
          type:
          - string
          - 'null'
        illemail:
          description: the ILL staff email address of the library
          type:
          - string
          - 'null'
        ip:
          description: the IP address for your library or branch
          type:
          - string
          - 'null'
        library_id:
          description: internally assigned library identifier
          maxLength: 10
          minLength: 1
          type: string
        marc_org_code:
          description: MARC Organization Code, see http://www.loc.gov/marc/organizations/orgshome.html, when empty defaults to syspref MARCOrgCode
          type:
          - string
          - 'null'
        name:
          description: Printable name of library
          type: string
        needs_override:
          description: If the library needs an override to act as pickup location for a hold
          type: boolean
        notes:
          description: notes related to your library or branch
          type:
          - string
          - 'null'
        phone:
          description: the primary phone of the library
          type:
          - string
          - 'null'
        pickup_location:
          description: If the library can act as a pickup location
          type: boolean
        postal_code:
          description: the postal code of the library
          type:
          - string
          - 'null'
        public:
          description: If the library is visible to the public
          type: boolean
        reply_to_email:
          description: the email to be used as a Reply-To
          type:
          - string
          - 'null'
        return_path_email:
          description: the email to be used as Return-Path
          type:
          - string
          - 'null'
        smtp_server:
          description: The library effective SMTP server
          type:
          - object
          - 'null'
        state:
          description: the reqional state of the library
          type:
          - string
          - 'null'
        url:
          description: the URL for your library or branch's website
          type:
          - string
          - 'null'
      required:
      - library_id
      - name
      type: object
    item_yaml:
      additionalProperties: false
      properties:
        _strings:
          description: A return claims object if one exists that's unresolved
          type:
          - object
          - 'null'
        acquisition_date:
          description: The date the item was acquired
          format: date
          type:
          - string
          - 'null'
        acquisition_source:
          description: Information about the acquisition source (it is not really a vendor id)
          type:
          - string
          - 'null'
        biblio: {}
        biblio_id:
          description: Internal identifier for the parent bibliographic record
          type: integer
        bookable:
          description: Allow bookings on this item.
          type: boolean
        call_number_sort:
          description: '?'
          type:
          - string
          - 'null'
        call_number_source:
          description: Classification source used on this item
          type:
          - string
          - 'null'
        callnumber:
          description: Call number for this item
          type:
          - string
          - 'null'
        checked_out_date:
          description: Defines if item is checked out (NULL for not checked out, and checkout date for checked out)
          format: date
          type:
          - string
          - 'null'
        checkouts_count:
          description: Number of times this item has been checked out/issued
          type:
          - integer
          - 'null'
        coded_location_qualifier:
          description: Coded location qualifier
          type:
          - string
          - 'null'
        collection_code:
          description: Authorized value for the collection code associated with this item
          type:
          - string
          - 'null'
        copy_number:
          description: Copy number
          type:
          - string
          - 'null'
        damaged_date:
          description: The date and time an item was last marked as damaged, NULL if not damaged
          type:
          - string
          - 'null'
        damaged_status:
          description: Authorized value defining this item as damaged
          type: integer
        effective_item_type_id:
          description: Effective itemtype defining the type for this item_id
          type:
          - string
          - 'null'
        effective_not_for_loan_status:
          description: Authorized value defining why this item is not for not_for_loan_status
          type: integer
        exclude_from_local_holds_priority:
          description: Exclude this item from local holds priority.
          type: boolean
        extended_subfields:
          description: Additional 952 subfields in XML format
          type:
          - string
          - 'null'
        external_id:
          description: The item's barcode
          type:
          - string
          - 'null'
        holding_library_id:
          description: Library that is currently in possession item
          type:
          - string
          - 'null'
        holds_count:
          description: Number of times this item has been placed on hold/reserved
          type:
          - integer
          - 'null'
        home_library_id:
          description: Internal library id for the library the item belongs to
          type:
          - string
          - 'null'
        internal_notes:
          description: Non-public notes on this item
          type:
          - string
          - 'null'
        inventory_number:
          description: Inventory number
          type:
          - string
          - 'null'
        item_id:
          description: Internal item identifier
          type: integer
        item_type_id:
          description: Itemtype defining the type for this item
          type:
          - string
          - 'null'
        last_checkout_date:
          description: The date the item was last checked out
          format: date
          type:
          - string
          - 'null'
        last_seen_date:
          description: The date the item barcode was last scanned
          format: date-time
          type:
          - string
          - 'null'
        location:
          description: Authorized value for the shelving location for this item
          type:
          - string
          - 'null'
        lost_date:
          description: The date and time an item was last marked as lost, NULL if not lost
          format: date-time
          type:
          - string
          - 'null'
        lost_status:
          description: Authorized value defining this item as lost
          type: integer
        materials_notes:
          description: Materials specified
          type:
          - string
          - 'null'
        new_status:
          description: '''new'' value, whatever free-text information.'
          type:
          - string
          - 'null'
        not_for_loan_status:
          description: Authorized value defining why this item is not for loan
          type: integer
        permanent_location:
          description: Linked to the CART and PROC temporary locations feature, stores the permanent shelving location
          type:
          - string
          - 'null'
        public_notes:
          description: Public notes on this item
          type:
          - string
          - 'null'
        purchase_price:
          description: Purchase price
          type:
          - number
          - 'null'
        renewals_count:
          description: Number of times this item has been renewed
          type:
          - integer
          - 'null'
        replacement_price:
          description: Cost the library charges to replace the item (e.g. if lost)
          type:
          - number
          - 'null'
        replacement_price_date:
          description: The date the replacement price is effective from
          format: date
          type:
          - string
          - 'null'
        restricted_status:
          description: Authorized value defining use restrictions for this item
          type:
          - integer
          - 'null'
        return_claim:
          type:
          - object
          - 'null'
        return_claims:
          description: An array of all return claims associated with this item
          type: array
        serial_issue_number:
          description: serial enumeration/chronology for the item
          type:
          - string
          - 'null'
        timestamp:
          description: Date and time this item was last altered
          format: date-time
          type: string
        uri:
          description: URL for the item
          type:
          - string
          - 'null'
        withdrawn:
          description: Authorized value defining this item as withdrawn
          type: integer
        withdrawn_date:
          description: The date and time an item was last marked as withdrawn, NULL if not withdrawn
          format: date-time
          type:
          - string
          - 'null'
      type: object
    merge_biblios_yaml:
      additionalProperties: false
      properties:
        biblio_id_to_merge:
          description: Biblionumber from which to merge
          type: integer
        datarecord:
          description: Bibliographic record used as result of the merge. It uses the format MARC-in-JSON
          type:
          - object
          - 'null'
        framework_to_use:
          description: Framework code, you can use it only with a value in datarecord field. With null value it uses the framework code of record to be merged into.
          type:
          - string
          - 'null'
        rules:
          description: Internally identifier of a merge algoritm. Now two identifier are supported, 'override' and 'override_ext'. 'override' is to use when you the bibliographic data of biblio_id as resulting bibliographic data. The null value is equivalent of 'override'. 'override_ext' is to use only with a value in datarecord field. In fact is mandatory to use if you insert a record inside datarecord field.
          type:
          - string
          - 'null'
      required:
      - biblio_id_to_merge
      type: object
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
