openapi: 3.2.0
info:
  contact:
    name: Koha Development Team
    url: https://koha-community.org/
  description: '## Background


    The API supports two sets of endpoints, one targetted at library staff and the other at at library users.'
  license:
    name: GPL v3,
    url: http://www.gnu.org/licenses/gpl.txt
  title: Koha REST OAUTH API
  version: '1'
servers:
- url: https://libserv.iitk.ac.in/api/v1
  description: PKK Library Koha REST API (production)
tags:
- description: Handle OAuth flows
  name: OAuth
  x-displayName: OAuth
paths:
  /oauth/login/{provider_code}/{interface}:
    get:
      tags:
      - OAuth
      summary: Login to OAuth provider
      operationId: loginOAuthClient
      parameters:
      - name: provider_code
        in: path
        required: true
        description: Code for OAuth provider
        schema:
          type: string
      - name: interface
        in: path
        required: true
        description: Name of the interface this login is for
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: Code returned from OAuth server for Authorization Code grant
        schema:
          type: string
      - name: state
        in: query
        required: false
        description: An opaque value used by the client to maintain state between the request and callback. This is the callback part.
        schema:
          type: string
      - name: scope
        in: query
        required: false
        description: Scope returned by OAuth server
        schema:
          type: string
      - name: prompt
        in: query
        required: false
        description: Prompt returned by OAuth server
        schema:
          type: string
      - name: authuser
        in: query
        required: false
        description: Auth user returned by OAuth server
        schema:
          type: string
      - name: error
        in: query
        required: false
        description: OAuth error code
        schema:
          type: string
      - name: error_description
        in: query
        required: false
        description: OAuth error description
        schema:
          type: string
      - name: error_uri
        in: query
        required: false
        description: Web page with user friendly description of the error
        schema:
          type: string
      - name: session_state
        in: query
        required: false
        description: Session state returned by OAuth server
        schema:
          type: string
      responses:
        '302':
          description: User authorized
          content:
            application/json:
              schema:
                type: string
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
  /oauth/token:
    post:
      tags:
      - OAuth
      summary: Get access token
      operationId: tokenOAuth
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                additionalProperties: false
                properties:
                  access_token:
                    type: string
                  expires_in:
                    type: integer
                  token_type:
                    type: string
                type: object
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
  /public/oauth/login/{provider_code}/{interface}:
    get:
      tags:
      - OAuth
      summary: Login to OAuth provider
      operationId: loginOAuthClientPublic
      parameters:
      - name: provider_code
        in: path
        required: true
        description: Code for OAuth provider
        schema:
          type: string
      - name: interface
        in: path
        required: true
        description: Name of the interface this login is for
        schema:
          type: string
      - name: code
        in: query
        required: false
        description: Code returned from OAuth server for Authorization Code grant
        schema:
          type: string
      - name: state
        in: query
        required: false
        description: An opaque value used by the client to maintain state between the request and callback. This is the callback part.
        schema:
          type: string
      - name: scope
        in: query
        required: false
        description: Scope returned by OAuth server
        schema:
          type: string
      - name: prompt
        in: query
        required: false
        description: Prompt returned by OAuth server
        schema:
          type: string
      - name: authuser
        in: query
        required: false
        description: Auth user returned by OAuth server
        schema:
          type: string
      - name: error
        in: query
        required: false
        description: OAuth error code
        schema:
          type: string
      - name: error_description
        in: query
        required: false
        description: OAuth error description
        schema:
          type: string
      - name: error_uri
        in: query
        required: false
        description: Web page with user friendly description of the error
        schema:
          type: string
      - name: session_state
        in: query
        required: false
        description: Session state returned by OAuth server
        schema:
          type: string
      responses:
        '302':
          description: User authorized
          content:
            application/json:
              schema:
                type: string
        '400':
          description: "Bad request. Possible `error_code` attribute values:\n\n  * `invalid_query`\n"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '401':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '403':
          description: Access forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '404':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '500':
          description: 'Internal server error. Possible `error_code` attribute values:


            * `internal_server_error`

            '
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
        '501':
          description: Default response.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DefaultResponse'
        '503':
          description: Under maintenance
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_yaml'
components:
  schemas:
    DefaultResponse:
      properties:
        errors:
          items:
            properties:
              message:
                type: string
              path:
                type: string
            required:
            - message
            type: object
          type: array
      required:
      - errors
      type: object
    error_yaml:
      additionalProperties: true
      properties:
        error:
          description: Error message
          type: string
        error_code:
          description: Error code
          type: string
      type: object
